{% extends 'base.html.twig' %}

{% block title %}
    Logowanie
{% endblock %}

{% block body %}
    <div id="user-actions">
        <a href="{{ url('home_index') }}">
            <img
                    id="logo"
                    src="{{ asset('img/logo_flat.png')}}"
                    alt="Logo strony - strona dostępności z emblematem 6 łez w kolorach tęczy."
            />
        </a>
    </div>

    <div id="reg-log">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Jesteś zalogowany jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h1-reformat">Logowanie</h1>
            {# dac h1 #}

            <label for="email">Email</label> <span class="inline-form-text" style="margin-left: 3em;">Nie masz konta? <strong><a href="{{ url('app_register') }}">Zarejestruj się</a></strong> </span><br/>
            <input type="email" value="{{ last_username }}" id="email" name="email" autocomplete="email" required autofocus/><br/>
            <label for="password">Hasło</label><span id="show" class="inline-form-text"><i class='fa fa-eye' style="margin-right: 0.3em;"></i>Pokaż hasło</span><br/>
            <input type="password" id="password" name="password" style="margin-bottom: 0.5em;" autocomplete="current-password" required/><br/>
{#            <span class="inline-form-text qst-style">Zapomniałeś hasła?</span><br/>#}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            />
            <input type="submit" value="Zaloguj się" class="submit-btn"/>
        </form>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            const passwd = document.getElementById('password');
            const showElem = document.getElementById('show');

            function showPasswd() {
                if (passwd.type === 'password') {
                    passwd.type = 'text';
                }
                else {
                    passwd.type = 'password';
                }
            }

            showElem.addEventListener('click', showPasswd);
        </script>
    {% endblock %}

