{% extends 'base.html.twig' %}

{% block title %}
    Panel administratora
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page">

        <article>
            <h2>Dostępne opinie o serwisie</h2>
            {% if pagination is defined and pagination.items|length %}
                <div class="indent" style="flex-wrap: wrap;">
                    {% for opinion in pagination.items %}
                        {% if not opinion.is_accepted %}
                            <section id="opinions" class="opinion">
                                <span class="user-info">{{ opinion.author.username }}, {{ opinion.date|date('Y/m/d') }}</span>
                                <div style="display: flex;">
                                    <div class="message-style" style="margin-top: 0.2em;">
                                        {{ opinion.message }}
                                    </div>
                                    <div class="message-action-space">
                                        <a href="{{ url('opinion_delete', {id: opinion.id}) }}" class="message-action-delete" data-id="{{ opinion.id }}">Odrzuć</a>
                                        <a href="{{ url('opinion_accept', {id: opinion.id}) }}" class="message-action-accept" data-id="{{ opinion.id }}">Zaakceptuj</a>
                                    </div>
                                </div>
{#                                <form method="post">#}
{#                                    <input type="button" id="akceptuj" name="akceptuj" value="Akceptuj" style="cursor: pointer; background-color: lightgreen;"/>#}
{#                                    <input type="button" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                </form>#}

{# !!! CURRENT #}
{#                                {{ form_start(form) }}#}
{#                                {{ form_widget(form) }}#}
{#                                <div class="form-group row float-sm-right">#}
{#                                    <input type="button" id="akceptuj" name="akceptuj" value="Akceptuj" style="cursor: pointer; background-color: lightgreen;"/>#}
{#                                    <input type="submit" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                </div>#}
{#                                {{ form_end(form) }}#}
{# !!! CURRENT #}

{#                                <form method="post">#}
{#                                    <input type="button" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                </form>#}
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    {{ 'Brak opinii do zmoderowania' }}
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </article>

{#        <article>#}
{#                <div class="indent" style="flex-wrap: wrap;">#}
{#                {% if comments is defined and comments|length %}#}
{#                    {% for comment in comments %}#}
{#                            <section id="opinions" class="opinion" style="background-color: lightgray; margin-bottom: 1.2em;">#}
{#                                <inline class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}, {{ comment.content.category }}</inline>#}
{#                                <div class="message-style">#}
{#                                    {{ comment.message }}#}
{#                                </div>#}
{#                                <a href="{{ url('comment_delete', {id: comment.id}) }}" class="delete-opinion" data-id="{{ comment.id }}" style="background-color: darkred; padding: 0.5em;">Odrzuć</a>#}
{#                                <a href="{{ url('comment_accept', {id: comment.id}) }}" class="delete-opinion" data-id="{{ comment.id }}" style="background-color: lightgreen; padding: 0.5em;">Zaakceptuj</a>#}
{#                                #}{#                                <form method="post">#}
{#                                #}{#                                    <input type="button" id="akceptuj" name="akceptuj" value="Akceptuj" style="cursor: pointer; background-color: lightgreen;"/>#}
{#                                #}{#                                    <input type="button" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                #}{#                                </form>#}

{#                                #}{# !!! CURRENT #}
{#                                #}{#                                {{ form_start(form) }}#}
{#                                #}{#                                {{ form_widget(form) }}#}
{#                                #}{#                                <div class="form-group row float-sm-right">#}
{#                                #}{#                                    <input type="button" id="akceptuj" name="akceptuj" value="Akceptuj" style="cursor: pointer; background-color: lightgreen;"/>#}
{#                                #}{#                                    <input type="submit" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                #}{#                                </div>#}
{#                                #}{#                                {{ form_end(form) }}#}
{#                                #}{# !!! CURRENT #}

{#                                #}{#                                <form method="post">#}
{#                                #}{#                                    <input type="button" id="odrzuc" name="odrzuc" value="Odrzuć" style="cursor: pointer; background-color: lightcoral;"/>#}
{#                                #}{#                                </form>#}
{#                            </section>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% else %}#}
{#                <div>#}
{#                    {{ 'Brak opinii do zmoderowania' }}#}
{#                </div>#}
{#            {% endif %}#}
{#        </article>#}

    </main>
    {% include 'footer.html.twig' %}

{#    {% block javascripts %}#}
{#        <script>#}
{#            const opinions = document.getElementById('opinions');#}
{#            if(opinions) {#}
{#                opinions.addEventListener('click', (e) => {#}
{#                    if(e.target.className === 'delete-opinion') {#}
{#                        if(confirm('Czy na pewno usunąć?')) {#}
{#                            const id = e.target.getAttribute('data-id');#}

{#                            fetch(`/article/delete/${id}`, {#}
{#                                method: 'DELETE'#}
{#                            }).then(res => window.location.reload())#}
{#                        }#}
{#                    }#}
{#                });#}
{#            }#}
{#        </script>#}
{#    {% endblock %}#}
{% endblock %}
