{% extends 'base.html.twig' %}

{% block title %}
    Panel administratora
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page reposition">
        <h1 class="h1-reformat" style="font-size: 3em; margin-bottom: 0">Panel administratora</h1>
        <article>
            <h2>Nowe opinie o serwisie</h2>
            {% if pagination_opinions is defined and pagination_opinions.items|length %}
                <div>
                    <button class="message-action-space opinions-edit">
                        Zarządzaj nowymi opiniami
                    </button>
                    <button class="message-action-space opinions-close">
                        Zamknij
                    </button>
                    {% for opinion in pagination_opinions.items %}
                        {% if not opinion.is_accepted %}
                            <section id="opinions" class="opinion">
                                <span class="user-info">{{ opinion.author.username }}, {{ opinion.date|date('Y/m/d') }}</span>
                                <div class="message-lined">
                                    <div class="message-style">
                                        {{ opinion.message }}
                                    </div>
                                    <div class="message-action-space opinions-enabled">
                                        <a href="{{ url('opinion_accept', {id: opinion.id}) }}" {#onclick="confirmation_opinion()"#} role="button" class="message-action-accept" data-id="{{ opinion.id }}">Zaakceptuj</a>
                                        <a href="{{ url('opinion_delete', {id: opinion.id}) }}" {#onclick="confirmation_opinion()"#} role="button" class="message-action-delete" data-id="{{ opinion.id }}">Odrzuć</a>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak opinii do zmoderowania' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination_opinions) }}
            </div>
        </article>

        <article>
            <h2>Nowe komentarze</h2>
            {% if pagination_comments is defined and pagination_comments.items|length %}
                <div>
                    <button class="message-action-space comments-edit">
                        Zarządzaj nowymi komentarzami
                    </button>
                    <button class="message-action-space comments-close">
                        Zamknij
                    </button>
                    {% for comment in pagination_comments.items %}
                        {% if not comment.is_accepted %}
                            <section id="opinions" class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-lined">
                                    <div class="message-style">
                                        {{ comment.message }}
                                    </div>
                                    <div class="message-action-space comments-enabled">
                                        <a href="{{ url('comment_accept', {id: comment.id}) }}" {#onclick="confirmation_comment()"#} role="button" class="message-action-accept" data-id="{{ comment.id }}">Zaakceptuj</a>
                                        <a href="{{ url('comment_delete', {id: comment.id}) }}" {#onclick="confirmation_comment()"#} role="button" class="message-action-delete" data-id="{{ comment.id }}">Odrzuć</a>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak komentarzy do zmoderowania' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination_comments) }}
            </div>
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const opinions_enabled = document.querySelector('.opinions-enabled');
        const opinions_edit = document.querySelector('.opinions-edit');
        const opinions_close = document.querySelector('.opinions-close');
        const comments_enabled = document.querySelector('.comments-enabled');
        const comments_edit = document.querySelector('.comments-edit');
        const comments_close = document.querySelector('.comments-close');

        const opinions = $('.opinions-enabled:hidden');
        const comments = $('.comments-enabled:hidden');

        $(document).ready(function() {
            opinions_edit.addEventListener('click', function () {
                opinions_edit.style.display = 'none';
                opinions_close.style.display = 'block';
                for(let i of opinions) {
                    i.style.display = 'flex';
                    i.style.alignItems = 'center';
                    i.style.columnGap = '0.2em';
                }
            });
            opinions_close.addEventListener('click', function () {
                opinions_edit.style.display = 'block';
                opinions_close.style.display = 'none';
                for(let i of opinions) {
                    i.style.display = 'none';
                }
            });

            comments_edit.addEventListener('click', function () {
                comments_edit.style.display = 'none';
                comments_close.style.display = 'block';
                for(let i of comments) {
                    i.style.display = 'flex';
                    i.style.alignItems = 'center';
                    i.style.columnGap = '0.2em';
                }
            });

            comments_close.addEventListener('click', function () {
                comments_edit.style.display = 'block';
                comments_close.style.display = 'none';
                for(let i of comments) {
                    i.style.display = 'none';
                }
            });
        });

        // function confirmation_opinion() {
        //     return confirm('Czy na pewno chcesz zaakceptować opinię?');
        // }
        // function confirmation_comment() {
        //     return confirm('Czy na pewno chcesz zaakceptować komentarz?');
        // }
    </script>
{% endblock %}
