{% extends '/base.html.twig' %}

{% block title %}
    Rejestracja
{% endblock %}

{% block body %}
    <div id="user-actions">
        <a href="{{ url('home_index') }}">
            <img
                    id="logo"
                    src="{{ asset('img/logo_flat.png')}}"
                    alt="Logo strony - strona dostępności z emblematem 6 łez w kolorach tęczy."
            />
        </a>
    </div>
    <div id="reg-log" style="text-align: left;" class="register-custom">
        <h1 class="h1-reformat">Rejestracja</h1>
        {{ form_start(registrationForm) }}
        <span class="inline-form-text" id="account-prompt">Masz już konto? <strong><a href="{{ url('app_login') }}">Zaloguj się</a></strong> </span><br/>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
{#        <span class="inline-form-text" id="show"><i class='fa fa-eye' style="margin-right: 0.3em;"></i>Pokaż hasło</span><br/>#}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}
        <input type="submit" value="Zarejestruj się" id="register-submit-btn" class="submit-btn"/>
        {{ form_end(registrationForm) }}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}