{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    1.1 Alternatywa tekstowa
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <main id="main">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 1.1 Alternatywa tekstowa</h1>
            <p class="txt-format-main">
                Zapewnij tekstowe zamienniki wszystkich treści nietekstowych, aby można je było zamienić na inne formy
                (np. powiększony druk, brajl, mowa syntetyczna, symbole lub prostszy język).
            </p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa (Poziom A)</a></li>
                </ul>
            </div>
            <div>
                <h3 id="1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa (Poziom A)</h3>
                <p class="txt-format">
                    Do elementów, które nie są tekstem, musisz dodać tekstową alternatywę.
                    W zależności od elementu tekst ma opisywać, co pokazuje element, czym jest element lub co robi.
                    Dzięki temu technologie asystujące (czytnik tekstu, czytnik Braille'a) mogą przeczytać zawartość.
                </p>
                <p>
                    <p>
                        Grafika wyświetlana: <img src="{{ asset('img/thumbs-up.png') }}" alt="Kciuk uniesiony w górę." style="width: 250px; height: 250px;"/>
                        Grafika niewyświetlana: <img src="" alt="Kciuk uniesiony w górę." style="width: 250px; height: 250px;"/><br/>
                        <code>
                            &lt;img src="thumbs-up.png" alt="Kciuk uniesiony w górę." /&gt;
                        </code>
                    </p>
                </p>
            </div>
            </div>
        </div>
        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Dodać komentarze z możliwością wyboru kryterium? + pole w tabeli w bazie?  -->
        <div>
            <h2>Komentarze</h2>
            {% if pagination is defined and pagination.items|length %}
                <div class="indent" style="flex-wrap: wrap;">
                    {% for comment in pagination.items %}
{#                        {% if comment.is_accepted %}#}
                            <section class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-style">
                                    {{ comment.message }}
                                </div>
                            </section>
{#                        {% endif %}#}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    {{ 'Brak opinii' }}
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
            {#            <form>#}
            {#                <label for="opinion-field">Treść opinii</label><br/>#}
            {#                <textarea id="opinion-field" name="opinion-field" rows="10" cols="70"></textarea><br/>#}
            {#                <input type="submit" value="Dodaj opinię" class="center-item-opinion" style="padding: 0.5em 3em; margin-top: 1em;"/>#}
            {#            </form>#}


            {#            {{ form_start(form) }}#}
            {#            {{ form_label(form.message) }}#}
            {#            {{ form_widget(form) }}#}
            {#                <div>#}
            {#                    <input type="submit" value="Dodaj opinię" class="center-item-opinion" style="padding: 0.5em 3em; margin-top: 1em;"/>#}
            {#                </div>#}
            {#            {{ form_end(form) }}#}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                <div>{{ form_label(form.message) }}</div>
                <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                <div>
                    <input type="submit" value="{{ 'Dodaj opinię' }}" class="center-item-opinion" style="padding: 0.5em 3em; margin-top: 1em; cursor: pointer;"/>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}