{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 1.1 Alternatywa tekstowa
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 1.1 Alternatywa tekstowa</h1>
            <section>
                <p class="list-glue">
                    Zapewnij tekstowe zamienniki wszystkich treści nietekstowych, aby można je było zamienić na inne formy, np.:
                </p>
                    <ul>
                        <li>powiększony druk,</li>
                        <li>Braille,</li>
                        <li>mowa syntetyczna,</li>
                        <li>symbole,</li>
                        <li>prostszy język.</li>
                    </ul>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa – Poziom A</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa – Poziom A</h3>
                <p class="list-glue">
                    Do elementów, które nie są tekstem, musisz dodać tekstową alternatywę.
                    Tekst ma opisywać:
                </p>
                    <ul>
                        <li>co przedstawia element,</li>
                        <li>jaka jest funkcja elementu.</li>
                    </ul>
                <p>
                    Tekst alternatywny jest rozpoznawany przez technologie asystujące: czytniki tekstu, czytniki Braille'a. Mogą one przeczytać wprowadzony tekst użytkownikowi.
                </p>
                <div style="text-align: center;">
                    <code>
                        &lt;img src="thumbs-up.png" alt="Kciuk uniesiony w górę." /&gt;
                    </code>
                </div>
                <div class="compare">
                    <div>
                        <p style="margin-bottom: 2em;">
                            Grafika wyświetlana:
                        </p>
                            <img src="{{ asset('img/thumbs-up.png') }}" alt="Kciuk uniesiony w górę." style="max-width: 250px;"/>
                    </div>
                    <div style="align-items: flex-start;">
                        <p>
                            Grafika niewyświetlana:
                        </p>
                        <img src="" alt="Kciuk uniesiony w górę." class="img-resp" style="margin-bottom: 2em;"/>
                    </div>
                </div>
            </section>
        </article>
        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Dodać komentarze z możliwością wyboru kryterium? + pole w tabeli w bazie?  -->
        <article>
            <h2>Komentarze</h2>
            {% if pagination is defined and pagination.items|length %}
                <div style="flex-wrap: wrap;">
                    {% for comment in pagination.items %}
{#                        {% if comment.is_accepted %}#}
                        {% if comment.content.category == 'eos' %}
                            <section class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-style">
                                    {{ comment.message }}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak opinii' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
            {#            <form>#}
            {#                <label for="opinion-field">Treść opinii</label><br/>#}
            {#                <textarea id="opinion-field" name="opinion-field" rows="10" cols="70"></textarea><br/>#}
            {#                <input type="submit" value="Dodaj opinię" class="center-item-opinion" style="padding: 0.5em 3em; margin-top: 1em;"/>#}
            {#            </form>#}


            {#            {{ form_start(form) }}#}
            {#            {{ form_label(form.message) }}#}
            {#            {{ form_widget(form) }}#}
            {#                <div>#}
            {#                    <input type="submit" value="Dodaj opinię" class="center-item-opinion" style="padding: 0.5em 3em; margin-top: 1em;"/>#}
            {#                </div>#}
            {#            {{ form_end(form) }}#}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                <div>{{ form_label(form.message) }}</div>
                <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                <div>
                    <input type="submit" value="{{ 'Dodaj komentarz' }}" class="submit-btn"/>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}