{% extends 'base.html.twig' %}

{% block title %}
    Wytyczna 1.1 Alternatywa tekstowa
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 1.1 Alternatywa tekstowa</h1>
            <section>
                <p class="list-glue">
                    Zapewnij tekstowe zamienniki wszystkich treści nietekstowych, aby można je było zamienić na inne formy, np.:
                </p>
                    <ul>
                        <li>powiększony druk,</li>
                        <li>Braille,</li>
                        <li>mowa syntetyczna,</li>
                        <li>symbole.</li>
                    </ul>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa – Poziom A</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="1_1_1">Kryterium sukcesu 1.1.1 Treść nietekstowa – Poziom A</h3>
                <p class="list-glue">
                    Do elementów, które nie są tekstem, musisz dodać tekstową alternatywę. Tekst ma:
                </p>
                    <ul>
                        <li>przekazać te same informacje co opisywany element,</li>
                        <li>dostarczyć zwięzły opis elementu.</li>
                    </ul>
                <p class="list-glue">
                    Wyjątki, gdzie nie trzeba dodawać opisu:
                </p>
                    <ul>
                        <li>zawartość dekoracyjna, która nie przekazuje informacji;</li>
                        <li>zawartość, która nie jest widoczna dla użytkowników.</li>
                    </ul>
                <p style="margin-top: 0;">
                    <b class="extra" style="margin-bottom: 0;">WAŻNE</b><br/>
                    Dla części testów, odczuć zmysłowych (np. gra na skrzypcach), <a target="_blank" href="https://support.google.com/a/answer/1217728?hl=pl">testów CAPTCHA</a>, musisz dodać tylko ogólny opis zawartości.<br/>
                    Dodatkowe wymagania dla multimediów, kontrolek i pól formularzy należy szukać w kolejnych wytycznych.
                </p>
                <p>
                    Tekst alternatywny jest rozpoznawany przez technologie asystujące: czytniki tekstu, czytniki Braille'a.
                    Mogą one przeczytać wprowadzony tekst użytkownikowi.
                </p>
                <p style="margin-top: 2em;">
                    <b>Alternatywa tekstowa dla grafiki:</b>
                </p>
                <div style="text-align: center;">
                    <code>
                        &lt;img src="thumbs-up.png" alt="Kciuk uniesiony w górę." /&gt;
                    </code>
                </div>
                <div class="compare" style="margin-bottom: 3em;">
                    <div>
                        <p style="margin-bottom: 2em;">
                            Grafika wyświetlana:
                        </p>
                            <img src="{{ asset('img/thumbs-up.png') }}" alt="Kciuk uniesiony w górę." style="max-width: 250px;"/>
                    </div>
                    <div style="align-items: flex-start;">
                        <p>
                            Grafika niewyświetlana:
                        </p>
                        <img src="" alt="Kciuk uniesiony w górę." class="img-resp" style="margin-bottom: 2em;"/>
                    </div>
                </div>
                <p>
                    Tekstu alternatywnego nie zawsze trzeba dodawać, wtedy atrybut 'alt' pozostaw pusty.
                </p>
                <div style="text-align: center;">
                    <code>
                        &lt;img src="image.png" alt="" /&gt;
                    </code>
                </div>
            </section>
        </article>
        <article>
            <h2 class="comment-header-spacing">Komentarze</h2>
            {% if pagination is defined and pagination.items|length %}
                <div style="flex-wrap: wrap;">
                    {% for comment in pagination.items %}
                        {% if comment.is_accepted and comment.content.id == 1 %}
                            <section class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-style">
                                    {{ comment.message }}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak komentarzy' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                <div class="comment-field-spacing">{{ form_label(form.message) }}</div>
                <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                <div>
                    <input type="submit" value="{{ 'Dodaj komentarz' }}" class="submit-btn"/>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}