{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    1.2 Multimedia
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 1.2 Multimedia</h1>
            <p class="txt-format-main">Zapewnij rozwiązania alternatywne dla mediów opartych na czasie.</p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#1_2_1">Kryterium sukcesu 1.2.1 Tylko audio lub tylko wideo (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_2">Kryterium sukcesu 1.2.2 Napisy rozszerzone (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_3">Kryterium sukcesu 1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_4">Kryterium sukcesu 1.2.4 Napisy rozszerzone (na żywo) (poziom AA)</a></li>
                    <li><a href="#1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie) (poziom AA)</a></li>
                    <li><a href="#1_2_6">Kryterium sukcesu 1.2.6 Język migowy (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_7">Kryterium sukcesu 1.2.7 Rozszerzona audiodeskrypcja (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_8">Kryterium sukcesu 1.2.8 Alternatywa dla mediów (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_9">Kryterium sukcesu 1.2.9 Tylko audio (na żywo) (poziom AAA)</a></li>
                </ul>
            </div>
            <div>
                (wszędzie - nie trzeba się stosować, jeśli ta forma jest alternatywą do tekstu na stronie i jest to widocznie oznaczone?)
                <h3 id="1_2_1">Kryterium sukcesu 1.2.1 Tylko audio lub tylko wideo (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    Multimedia, które zawierają tylko dźwięk lub tylko obraz, muszą zawierać alternatywę.
                    Alternatywny sposób prezentacji przedstawia tę samą treść.
                </p>
                <p class="txt-format">
                    W przypadku nagrania tylko wideo są to napisy lub audiodeskrypcja.<br/>

                    Napisy:
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/1_2_1_video.mp4') }}" type="video/mp4" />
                        <track src="{{ asset('img/1_2_1_video_subtitles.vtt') }}" kind="subtitles" srclang="pl" label="Polski" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>

                    Audiodeskrypcja:
                    <audio controls>
                        <source src="{{ asset('img/1_2_1_video_trans.mp3') }}" type="audio/mpeg" />
                        Twoja przeglądarka nie wspiera elementów audio.
                    </audio>
                </p>
                <p class="txt-format">
                    W przypadku nagrania tylko audio jest to alternatywa tekstowa.
                    <audio controls>
                        <source src="{{ asset('img/1_2_1_audio.mp3') }}" type="audio/mpeg" />
                        Twoja przeglądarka nie wspiera elementów audio.
                    </audio><br/>
                    Jest to próbne nagranie audio. Nie każda osoba może je usłyszeć. Przez to dołączono tekst, który przedstawia nagranie w formie pisemnej.
                </p>
            </div>
            <div>
                <h3 id="1_2_2">Kryterium sukcesu 1.2.2 Napisy rozszerzone (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    Multimedia, które składają się jednocześnie z obrazu i dźwięku (media zsynchronizowane), muszą zawierać <strong>napisy rozszerzone</strong> -
                    tekst zsynchronizowany z obrazem, który opisuje wszystkie treści dźwiękowe niezbędne do zrozumienia przekazu multimediów.
                    Napisy rozszerzone są podobne do napisów dialogowych, jednak opisują dodatkowe informacje, które nie są dialogami:
                <ul>
                    <li>opis ważnych dźwięków otoczenia (np. odgłos syreny, dźwięk spadającego drzewa),</li>
                    <li>identyfikacja mówiących.</li>
                </ul>
                Wyjątkiem jest nagranie, które jest alternatywą do tekstu.
                </p>
                <p class="txt-format">
                    Istnieją dwa rodzaje napisów rozszerzonych, stosowane w zależności od potrzeb:
                <ul>
                    <li>
                        Napisy zamknięte - CC (Closed Caption) - napisy, które da się wyłączyć w nagraniu (są na innej ścieżce multimedia(?)),
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/1_2_2_CC.mp4') }}" type="video/mp4">
                            <track src="{{ asset('img/1_2_2_video_subtitles.vtt') }}" kind="subtitles" srclang="pl" label="Polski" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video>
                    </li>
                    <li>
                        Napisy otwarte - OC (Open Caption) - napisy, których nie da się wyłączyć w nagraniu.
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/1_2_2_OC.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video>
                    </li>
                </ul>
                </p>
                <p class="txt-format">
                    Napisy rozszerzone pozwalają osobom niesłyszącym i głuchym zapoznać się z treścią prezentowaną na stronie.
                    <!-- Dodać jako osobne info, komu to pomaga? -->
                </p>
                <strong>WAŻNE! Napisy nie powinny zasłaniać ważnych elementów w nagraniu (przykład i jak powinno wyglądać).</strong><br/>
            </div>
            <div>
                <h3 id="1_2_3">Kryterium sukcesu 1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    W przypadku multimediów, które są nagraniem, musisz:
                <ol type="a">
                    <li>zapewnić alternatywę tekstową dla multimediów,</li>
                    lub
                    <li>dołączyć audiodekrypcję dla multimediów zsynchronizowanych.</li>
                </ol>
                a. tekst dołączony do nagrania ma opisywać wszystko, co dzieje się na nagraniu - także dialogi.
                Dzięki temu użytkownik może zapoznać się z całością pokazywanej treści, również z tym, co dzieje się podczas dialogów
                (np. mimika aktorów w filmie).
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_3_alt_txt.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
                <br/>
                b. audiodeskypcja dołączona do nagrania ma opisywać elementy pozadialogowe, kiedy dialogi nie są słyszalne.
                Opis dźwiękowy opisuje np.: wygląd otoczenia i jego zmianę, działania postaci czy napisy widoczne na nagraniu.
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_3_adesc.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
                </p>
                <p class="txt-format">
                    Taki sposób prezentowania treści wideo pozwala zapoznać się treścią nie tylko osobom niesłyszącym lub niedosłyszącym. Użytkownicy, którzy mają
                    problemy z rozpoznawaniem obrazów lub nie widzą dobrze, też zyskają na udogodnieniu.
                </p>
            </div>
            <div>
                <h3 id="1_2_4">Kryterium sukcesu 1.2.4 Napisy rozszerzone (na żywo) (poziom AA)</h3>
                <p class="txt-format">
                    Jeśli nagranie audio-wideo jest transmitowane na żywo, musi zawierać napisy rozszerzone.
                    <img src="{{ asset('img/NiloferMerchant_2013-embed_live.jpg') }}" style="width: 576px; height: 324px;" />
                    Dzięki temu więcej osób może zapoznać się z transmisjami na żywo.
                </p>
            </div>
            <div>
                <h3 id="1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie) (poziom AA)</h3>
                <p class="txt-format">
                    We <strong>wszystkich</strong> nagraniach audio-wideo, część wideo musi zawierać audiodeskrypcję. (podobnie jak w 1.2.3, ale wszystkie?)
                </p>
            </div>
            <div>
                <h3 id="1_2_6">Kryterium sukcesu 1.2.6 Język migowy (nagranie) (poziom AAA)</h3>
                <p class="txt-format">
                    Wszystkie nagrania, które zawierają audio i wideo, muszą być tłumaczone także na język migowy.
                </p>
                <p class="txt-format">
                    Wiele osób, które nie słyszą od dziecka, wykorzystuje język migowy jako główną formę komunikacji.
                    Takie osoby mogą mieć problemy z rozumieniem tekstu pisanego. Multimedia tłumaczone na język migowy są dla nich dużym ułatwieniem.
                </p>
                <img src="{{ asset('img/migowy.jpg') }}" style="width: 507px; height: 328px;"/>
            </div>
            <div>
                <h3 id="1_2_7">Kryterium sukcesu 1.2.7 Rozszerzona audiodeskrypcja (nagranie) (poziom AAA)</h3>
                <p class="txt-format">
                    Jeśli przerwy między dialogami w nagraniu są niewystarczające, aby przekazać wszystkie istotne informacje pozadialogowe, nagranie musi
                    zawierać rozszerzoną audiodeskrypcję.
                </p>
                <p class="txt-format">
                    Rozszerzona audiodeskrypcja to audiodeskrypcja, która jest podobna do
                    <strong>kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie)</strong>. Jednak w tym przypadku nagranie zostaje zatrzymane do momentu, kiedy za pomocą
                    audiodeskrypcji przekazane zostaną wszystkie ważne informacje.
                </p>
                <p class="txt-format">
                    Dzięki temu osoba, która korzysta
                    z tej formy pomocy, zapozna się ze wszystkimi ważnymi informacjami z części wideo nagrania.
                </p>
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_7.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
            </div>
            <div>
                <h3 id="1_2_8">Kryterium sukcesu 1.2.8 Alternatywa dla mediów (nagranie) (poziom AAA) -> CHECK</h3>
                <p class="txt-format">
                    Musisz udostępnić alternatywę dla całej zawartości audio-wideo i wideo na stronie.<br/>
                    Zrobisz to przy użyciu tekstu przygotowanego do nagrania. Tekst ma opisywać całą zawartość nagrania (wizualną i słyszalną) i zawiera:
                <ul>
                    <li>dialogi,</li>
                    <li>działania, zachowanie i mimikę postaci,</li>
                    <li>szczegółowe opisy wyświetlanych scen,</li>
                    <li>napisy i teksty widoczne na nagraniu,</li>
                    <li>słyszalne dźwięki.</li>
                </ul>
                </p>
                <p class="txt-format">
                    Tekstowy sposób prezentacji tych informacji sprawia, że każda osoba może skorzystać
                    ze szczegółowych opisów nagrania, przy użyciu technologii asystujących (czytnik tekstu, Braille'a).
                </p>
                <img src="{{ asset('img/1_2_8.png') }}" style="width: 620px; height: 360px;">
            </div>
            <div>
                <h3 id="1_2_9">Kryterium sukcesu 1.2.9 Tylko audio (na żywo) (poziom AAA)</h3>
                <p class="txt-format">
                    Wytyczna wymaga, aby zawartość audio w transmisjach na żywo miała alternatywę w postaci tekstu.<br/>
                    Istnieją różne sposoby, aby spełnić kryterium:
                <ul>
                    <li>specjalne programy, które tłumaczą mowę i dźwięki tekst w momencie transmisji,</li>
                    <li>pomoc tłumacza, który tworzy transkrypcję transmisji w momencie nadawania,</li>
                    <li>jeśli przebieg transmisji jest zaplanowany, można dołączyć wcześniej przygotowany transkrypt.</li>
                </ul>
                Przygotowywane napisy na żywo można dołączyć do nagrania lub umieścić na stronie internetowej.
                </p>
                <img src="{{ asset('img/1_2_9.png') }}" style="width: 620px; height: 360px;">
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}