{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    1.2 Multimedia
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 1.2 Multimedia</h1>
            <p class="txt-format-main">Zapewnij rozwiązania alternatywne dla zawartości audio i wideo.</p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#1_2_1">Kryterium sukcesu 1.2.1 Tylko audio lub tylko wideo (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_2">Kryterium sukcesu 1.2.2 Napisy rozszerzone (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_3">Kryterium sukcesu 1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie) (poziom A)</a></li>
                    <li><a href="#1_2_4">Kryterium sukcesu 1.2.4 Napisy rozszerzone (na żywo) (poziom AA)</a></li>
                    <li><a href="#1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie) (poziom AA)</a></li>
                    <li><a href="#1_2_6">Kryterium sukcesu 1.2.6 Język migowy (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_7">Kryterium sukcesu 1.2.7 Rozszerzona audiodeskrypcja (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_8">Kryterium sukcesu 1.2.8 Alternatywa dla mediów (nagranie) (poziom AAA)</a></li>
                    <li><a href="#1_2_9">Kryterium sukcesu 1.2.9 Tylko audio (na żywo) (poziom AAA)</a></li>
                </ul>
            </div>
            <div>
                (wszędzie – nie trzeba się stosować, jeśli ta forma jest alternatywą do tekstu na stronie i jest to widocznie oznaczone?)
                <h3 id="1_2_1">Kryterium sukcesu 1.2.1 Tylko audio lub tylko wideo (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    Do mediów tylko z dźwiękiem lub tylko obrazem musisz dołączyć alternatywę. Alternatywny sposób prezentacji ma przedstawiać tę samą treść.
                </p>
                <p class="txt-format">
                    <i class='fa fa-arrow-right' style="font-size: 20px; margin-right: 0.3em;"></i>W przypadku nagrania tylko wideo są to napisy lub audiodeskrypcja.<br/>

                    Napisy:
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/1_2_1_video.mp4') }}" type="video/mp4" />
                        <track src="{{ asset('img/1_2_1_video_subtitles.vtt') }}" kind="subtitles" srclang="pl" label="Polski" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>

                    Audiodeskrypcja:
                    <audio controls>
                        <source src="{{ asset('img/1_2_1_video_trans.mp3') }}" type="audio/mpeg" />
                        Twoja przeglądarka nie wspiera elementów audio.
                    </audio>
                </p>
                <p class="txt-format">
                    <i class='fa fa-arrow-right' style="font-size: 20px; margin-right: 0.3em;"></i>W przypadku nagrania tylko audio jest to alternatywa tekstowa.
                    <audio controls>
                        <source src="{{ asset('img/1_2_1_audio.mp3') }}" type="audio/mpeg" />
                        Twoja przeglądarka nie wspiera elementów audio.
                    </audio><br/>
                    <div style="background-color: lightgray;">Jest to próbne nagranie audio. Nie każda osoba może je usłyszeć. Przez to dołączono tekst, który przedstawia nagranie w formie pisemnej.</div>
                </p>
            </div>
            <div>
                <h3 id="1_2_2">Kryterium sukcesu 1.2.2 Napisy rozszerzone (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    Multimedia, które zawierają i obraz, i dźwięk (media zsynchronizowane), muszą zawierać <strong>napisy rozszerzone</strong>.
                    Jest to tekst pokazywany równocześnie z obrazem. Opisuje on wszystkie treści dźwiękowe niezbędne do zrozumienia przekazu.
                    Napisy rozszerzone dodają informacje o multimediach, które nie są dialogami:
                <ul>
                    <li>ważne dźwięki otoczenia: odgłos syreny, dźwięk spadającego drzewa,</li>
                    <li>wskazanie mówiących.</li>
                </ul>
                Wyjątek to nagranie, które jest alternatywą do tekstu.
                </p>
                <p class="txt-format">
                    Istnieją dwa rodzaje napisów rozszerzonych:
                <ul>
                    <li>
                        Napisy zamknięte – CC (Closed Caption)<br/>
                        Napisy, które da się wyłączyć w nagraniu:<br/>
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/1_2_2_CC.mp4') }}" type="video/mp4">
                            <track src="{{ asset('img/1_2_2_video_subtitles.vtt') }}" kind="subtitles" srclang="pl" label="Polski" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video>
                    </li>
                    <li>
                        Napisy otwarte – OC (Open Caption).<br/>
                        Napisy, których nie da się wyłączyć w nagraniu:<br/>
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/1_2_2_OC.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video>
                    </li>
                </ul>
                </p>
                <p class="txt-format">
                    Napisy rozszerzone pozwalają osobom z problemami ze słuchem zapoznać się z treścią strony.
                    <!-- Dodać jako osobne info, komu to pomaga? -->
                </p>
                <strong>WAŻNE! Napisy nie powinny zasłaniać ważnych elementów w nagraniu.</strong><br/>
            </div>
            <div>
                <h3 id="1_2_3">Kryterium sukcesu 1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie) (poziom A)</h3>
                <p class="txt-format">
                    W przypadku nagrań audio-wideo, dla części wideo musisz:
                <ol type="a">
                    <li>zapewnić tekstową alternatywę</li>
                    lub
                    <li>dołączyć audiodeskrypcję.</li>
                </ol>
                a. Tekst dołączony do nagrania ma opisywać wszystko, co dzieje się na nagraniu – także dialogi.
                Użytkownik będzie mógł zapoznać się z całością pokazywanej treści, np. dowiedzieć się o mimice aktorów w filmie.<br/>
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_3_alt_txt.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
                <br/>
                b. Audiodeskrypcja dołączona do nagrania ma opisywać elementy pozadialogowe, kiedy dialogi nie są słyszalne.
                Opis dźwiękowy opisuje np.:
                <ul>
                    <li>wygląd otoczenia,</li>
                    <li>zmiany w scenie,</li>
                    <li>działania postaci,</li>
                    <li>napisy widoczne na nagraniu.</li>
                </ul>
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_3_adesc.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
                </p>
                <p class="txt-format">
                    Taki sposób prezentacji wideo pozwala zapoznać się treścią nie tylko osobom z problemami ze słuchem.
                    Użytkownicy, którzy nie widzą dobrze lub z trudnością rozpoznają obrazy, też zyskają na tym ułatwieniu.
                </p>
            </div>
            <div>
                <h3 id="1_2_4">Kryterium sukcesu 1.2.4 Napisy rozszerzone (na żywo) (poziom AA)</h3>
                <p class="txt-format">
                    Jeśli nagranie audio-wideo jest nadawane na żywo, musi zawierać napisy rozszerzone.
                    Pozwoli to zapoznać się z treścią większej grupie osób.
                    <img src="{{ asset('img/NiloferMerchant_2013-embed_live.jpg') }}" alt="" style="width: 576px; height: auto;" />
                </p>
            </div>
            <div>
                <h3 id="1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie) (poziom AA)</h3>
                <p class="txt-format">
                    We <strong>wszystkich</strong> nagraniach audio-wideo, część wideo musi zawierać audiodeskrypcję.
                    Jest to rozszerzenie kryterium <a href="#1_2_3">1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie).</a>
                </p>
            </div>
            <div>
                <h3 id="1_2_6">Kryterium sukcesu 1.2.6 Język migowy (nagranie) (poziom AAA)</h3>
                <p class="txt-format">
                    Wszystkie multimedia, które zawierają audio i wideo, muszą być tłumaczone na język migowy.
                </p>
                <p class="txt-format">
                    Dla wielu osób, które nie słyszą od dziecka, język migowy jest językiem podstawowym oraz główną formą komunikacji.
                    Takie osoby mogą mieć problemy z rozumieniem tekstu pisanego. Multimedia tłumaczone na język migowy są dla nich dużym ułatwieniem.
                </p>
                <img src="{{ asset('img/migowy.jpg') }}" style="width: 507px; height: auto;"/>
            </div>
            <div>
                <h3 id="1_2_7">Kryterium sukcesu 1.2.7 Rozszerzona audiodeskrypcja (nagranie) (poziom AAA)</h3>
                <p class="txt-format">
                    Czasem przerwy między dialogami nie wystarczają, aby przekazać wszystkie dodatkowe informacje.
                    Przez to nagranie musi zawierać rozszerzoną audiodeskrypcję.
                </p>
                <p class="txt-format">
                    Rozszerzona audiodeskrypcja to audiodeskrypcja podobna do
                    <b><a href="#1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie)</a></b>. Jednak w tym przypadku nagranie zostaje zatrzymane do momentu, kiedy za pomocą
                    audiodeskrypcji przekazane zostaną wszystkie ważne informacje.
                </p>
                <p class="txt-format">
                    Osoba, która korzysta z tej formy pomocy, zapozna się ze wszystkimi ważnymi informacjami z części wideo nagrania.
                </p>
                <video width="320" height="240" controls>
                    <source src="{{ asset('img/1_2_7.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
            </div>
            <div>
                <h3 id="1_2_8">Kryterium sukcesu 1.2.8 Alternatywa dla mediów (nagranie) (poziom AAA)</h3>
                <p class="txt-format">
                    Musisz udostępnić alternatywę dla wszystkich treści audio i wideo na stronie.<br/>
                    Zrobisz to przy użyciu tekstu przygotowanego do nagrania. Tekst ma opisywać całą zawartość (widoczną i słyszalną) i zawiera:
                <ul>
                    <li>dialogi,</li>
                    <li>działania, zachowanie i mimikę postaci,</li>
                    <li>szczegółowe opisy wyświetlanych scen,</li>
                    <li>napisy i teksty widoczne na nagraniu,</li>
                    <li>słyszalne dźwięki.</li>
                </ul>
                </p>
                <p class="txt-format">
                    Tekstowy opis multimediów sprawia, że każda osoba może zrozumieć nagranie ze szczegółami. Zrobi to przy użyciu technologii asystujących (czytnik tekstu, Braille'a).
                </p>
                <img src="{{ asset('img/1_2_8.png') }}" style="width: 620px; height: auto;">
            </div>
            <div>
                <h3 id="1_2_9">Kryterium sukcesu 1.2.9 Tylko audio (na żywo) (poziom AAA)</h3>
                <p class="txt-format">
                    Wytyczna wymaga, aby zawartość audio w transmisjach na żywo miała alternatywę w postaci tekstu.
                    Kryterium możesz spełnić na różne sposoby:
                <ul>
                    <li>użycie specjalnych programów, które automatycznie tłumaczą mowę i dźwięki w czasie transmisji,</li>
                    <li>pomoc tłumacza, który tworzy transkrypcję transmisji w momencie nadawania,</li>
                    <li>jeśli przebieg transmisji jest zaplanowany, można dołączyć wcześniej przygotowany transkrypt.</li>
                </ul>
                </p>
                <img src="{{ asset('img/1_2_9.png') }}" style="width: 620px; height: auto;">
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}