{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    1.3 Możliwość adaptacji
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 1.3 Możliwość adaptacji</h1>
            <section>
                <p>Twórz treści, które mogą być prezentowane na różne sposoby, bez utraty informacji czy struktury.</p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#1_3_1">Kryterium sukcesu 1.3.1 Informacje i relacje – Poziom A</a></li>
                        <li><a href="#1_3_2">Kryterium sukcesu 1.3.2 Zrozumiała kolejność – Poziom A</a></li>
                        <li><a href="#1_3_3">Kryterium sukcesu 1.3.3 Właściwości zmysłowe – Poziom A</a></li>
                        <li><a href="#1_3_4">Kryterium sukcesu 1.3.4 Orientacja – Poziom AA</a></li>
                        <li><a href="#1_3_5">Kryterium sukcesu 1.3.5 Określenie pożądanej wartości – Poziom AA</a></li>
                        <li><a href="#1_3_6">Kryterium sukcesu 1.3.6 Określenie przeznaczenia – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="1_3_1">Kryterium sukcesu 1.3.1 Informacje i relacje – Poziom A</h3>
                <p>
                    Struktura strony, jej zawartość i relacje pomiędzy elementami mają być przedstawione w formie tekstowej lub są
                    <strong>określone programowo</strong>. Oznacza to, że mają być obsługiwane przez technologie asystujące. Zazwyczaj treści określone programowo są lepsze od tekstu.
                </p>
                <p>
                    Ten sposób prezentacji pozwala zrozumieć treść zarówno w przypadku, kiedy ktoś widzi stronę, jak i jej nie widzi (osoby niewidome).<br/>
                    Przykładowo, część użytkowników ważne informacje będzie szukać po kolorze czerwonym.
                    Inni będą kierowali się oznaczeniem „*” lub „Wymagane”.
                </p>
                <p>
                    Część osób będzie oglądać stronę, a inni będą rozumieli ją przez układ list, nagłówków, akapitów.
                </p>
{#                <p>#}
{#                    Jak stronę będzie widział czytnik:#}
{#                </p>#}
{#                <div style="border: 2px solid red;">#}
{#                    <h1>Główny nagłówek</h1>#}
{#                    <h2>Mniej ważny nagłówek</h2>#}
{#                    <p>Akapit</p>#}
{#                    <h2>Mniej ważny nagłówek</h2>#}
{#                    <p>Akapit</p>#}
{#                    <ul> Lista#}
{#                        <li>Element listy 1</li>#}
{#                        <li>Element listy 2</li>#}
{#                        <li>Element listy 3</li>#}
{#                    </ul>#}
{#                    <h3>Jeszcze mniej ważny nagłówek</h3>#}
{#                    <fieldset> Zgrupowane elementy &lt;checkbox&gt;#}
{#                        <legend>Opis grupy elementów</legend><br/>#}
{#                        <label>Element checkbox 1 i jego opis<input type="checkbox"/></label><br/>#}
{#                        <label>Element checkbox 2 i jego opis<input type="checkbox"/></label><br/>#}
{#                        <label>Element checkbox 3 i jego opis<input type="checkbox"/></label>#}
{#                    </fieldset>#}
{#                </div>#}
                <p style="margin-bottom: 0">
                    <u>Jak czytnik widzi i odczytuje elementy strony:</u>
                </p>
                <pre>
                    <code>
&lt;h1&gt;Główny nagłówek&lt;/h1&gt;
&lt;h2&gt;Mniej ważny nagłówek&lt;/h2&gt;
&lt;p&gt;Akapit&lt;/p&gt;
&lt;h2>Mniej ważny nagłówek&lt;/h2&gt;
&lt;p&gt;
    Akapit
        &lt;ul&gt; Lista
            &lt;li&gt;Element listy 1&lt;/li&gt;
            &lt;li&gt;Element listy 2&lt;/li&gt;
            &lt;li&gt;Element listy 3&lt;/li&gt;
        &lt;/ul&gt;
&lt;/p&gt;
&lt;p&gt;
    &lt;h3&gt;Jeszcze mniej ważny nagłówek&lt;/h3&gt;
    &lt;fieldset&gt;Zgrupowane elementy &lt;checkbox&gt;
    &lt;legend&gt;Opis grupy elementów&lt;/legend&gt;
        &lt;label&gt;
            &lt;input type="checkbox"/&gt;Element checkbox i jego opis
        &lt;/label&gt;
        &lt;label>
            &lt;input type="checkbox"/&gt;Element checkbox i jego opis
        &lt;/label>
        &lt;label>
            &lt;input type="checkbox"/&gt;Element checkbox i jego opis
        &lt;/label&gt;
    &lt;/fieldset>
&lt;/p>
                    </code>
                </pre>
                <video controls>
                    <source src="{{ asset('img/1_3_1.mp4') }}" type="video/mp4" />
                    Twoja przeglądarka nie wspiera elementów wideo.
                </video>
{#                <div style="border: 2px solid red;">#}
{#                    Jak widzi stronę użytkownik bez problemów ze wzrokiem#}
{#                </div>#}
                <!-- <p>
                    <div>
                        Jak widzi osoba ...<br/>
                        <label style="color: red;">*Imię<input type="text"/></label><br/>
                        <label style="color: red;">*Nazwisko<input type="text"/></label><br/>
                        <label style="color: red;">*Adres<input type="text"/></label><br/>
                        <label>Wiek<input type="text"/></label><br/>
                    </div>
                    <code>
                        &lt;label style="color: red;"&gt;*Imię&lt;input type="text"/&gt;&lt;/label&gt;<br/>
                        &lt;label style="color: red;"&gt;*Nazwisko&lt;input type="text"/&gt;&lt;/label&gt;<br/>
                        &lt;label style="color: red;"&gt;*Adres&lt;input type="text"/&gt;&lt;/label&gt;<br/>
                        &lt;label&gt;Wiek&lt;input type="text"/&gt;&lt;/label&gt;<br/>
                    </code>
                </p> -->
            </section>
            <div>
                <h3 id="1_3_2">Kryterium sukcesu 1.3.2 Zrozumiała kolejność – Poziom A</h3>
                <p>
                    Jeśli kolejność odczytu treści na stronie ma znaczenie, musisz zadbać, aby technologie asystujące mogły wyświetlać stronę w taki sposób.
                    W przeciwnym przypadku część użytkowników może nie zrozumieć przekazu, przez złą kolejność odczytywania zawartości.
                </p>
                <p>
                    Dzięki kolejności określonej programowo, użytkownicy z różnymi niepełnosprawnościami mogą zapoznać się z treścią w sposób zamierzony przez twórcę.
                </p>
                <p>
                    <a href="{{ url('_1_3_2_dobry') }}">Dobra implementacja</a><br/>
                    <a href="{{ url('_1_3_2_zly') }}">Zła implementacja</a>
                </p>
            </div>
            <div>
                <h3 id="1_3_3">Kryterium sukcesu 1.3.3 Właściwości zmysłowe – Poziom A</h3>
                <p class="list-glue">
                    Instrukcje, które pozwalają zrozumieć cel i sposób korzystania z treści na stronie, nie opierają się tylko na właściwościach zmysłowych.
                    Właściwości zmysłowe to np.:
                </p>
                <ul>
                    <li>kolor,</li>
                    <li>kształt,</li>
                    <li>rozmiar,</li>
                    <li>lokalizacja na stronie,</li>
                    <li>dźwięk.</li>
                </ul>
                <p>
                    Część osób nie rozpoznaje kolorów lub używa technologii asystujących, które analizują strukturę strony i „czytają” ją użytkownikowi.
                    Taki odbiorca najczęściej nie widzi kształtu czy położenia elementu na stronie i nie będzie mógł go zlokalizować.
                    Ogranicza to funkcjonalności dostępne dla użytkownika na stronie.
                </p>
                <p>
                    Kryterium nie dotyczy narzędzi fizycznych, takich jak klawiatura z klawiszami strzałek.
                    Jeśli interakcja na stronie wiąże się z naciśnięciem konkretnego klawisza, treść strony powinna powiadomić o tym użytkownika.
                </p>
                <p>
                    Możesz stosować wyrażenia takie jak „poniżej” i „powyżej”, kiedy kolejność treści na stronie jest ustalona i odwołanie do niej jednoznaczne.
                    W takim przypadku użytkownik technologii asystujących zrozumie to jako treść, która pojawiła się wcześniej lub później.
                </p>
                <p>
                    <b>ŹLE</b><br/>
                    Aby przejść dalej, wciśnij okrągły przycisk w kolorze zielonym, który znajduje się po prawej
                    <button class="btn-example" style="margin-left: 0.5em;">Kliknij mnie</button>
                </p>
                <p>
                    <b>DOBRZE</b><br/>
                    Aby przejść dalej, kliknij poniższy przycisk<br/>
                    <button class="btn-example">Etap II: Wypełnianie danych adresowych</button>
                </p>
            </div>
            <div>
{#                TODO: POPRAWIĆ, dodać zdj zamiast przykładu #}
                <h3 id="1_3_4">Kryterium sukcesu 1.3.4 Orientacja – Poziom AA</h3>
                <p>
                    Zawartość strony ma być poprawnie wyświetlana zarówno w orientacji pionowej, jak i poziomej.
                </p>
                <p>
                    Wyjątkiem są sytuacje, kiedy orientacja urządzenia jest ważna. Przykład to aplikacja do odczytywania nut.
                    W orientacji pionowej użytkownik będzie miał problem z odczytywaniem i nawigowaniem po kolejnych stronach z nutami.
                    <strong>+ Grafika pion-poziom</strong>
                </p>
                <p>
                    <a href="{{ url('_1_3_4_dobry') }}">Dobra implementacja</a>
                    <br/>
                    <a href="{{ url('_1_3_4_zly') }}">Zła implementacja</a><br/>
                    <strong>Zły i dobry przykład z rotate – wciśnij F12 i ikonę - instrukcja</strong>
                </p>
            </div>
            <div>
                <h3 id="1_3_5">Kryterium sukcesu 1.3.5 Określenie pożądanej wartości – Poziom AA</h3>
                <p class="list-glue">
                    Pola formularzy i ich cel są odczytywane i przedstawiane przez technologie wspomagające, kiedy:
{#                    Technologie wspomagające odczytują i przedstawiają pola formularzy i ich cel, kiedy:#}
                </p>
                    <ul>
                        <li>
                            pole w formularzu służy celowi, który jest opisany w
                            <u>
                                <a target="_blank" href="https://www.w3.org/Translations/WCAG21-pl/#input-purposes">Przeznaczenie pól danych w komponentach interfejsu użytkowników</a>
                            </u>
                            w dokumencie WCAG 2.1,
                        </li>
                        oraz
                        <li>użyta technologia pozwala na określenie typu pól w formularzach, czyli np. język znaczników HTML.</li>
                    </ul>
                <p>
                    Dzięki określeniu typu pól, użytkownikowi jest znacznie łatwiej wypełniać formularze.
                </p>
                <p>
                    Podstawowym sposobem na określenie celu pola formularza &lt;input&gt; jest dodanie do niego atrybutu 'type'.
                </p>
                    <div>
                        <p>
                            <label for="passwd">Pole hasła:</label><br/>
                            <input type="password" id="passwd">
                        </p>
                    </div>
                    <code>
                        &lt;input type="password"&gt;
                    </code>
                <p class="list-glue" style="margin-top: 2em;">
                    Aby jeszcze dokładniej określić cel pola, trzeba skorzystać z atrybutu 'autocomplete'. Atrybut ten pozwala na dookreślenie znaczenia pola,
                    np. imię: pierwsze, drugie lub użytkownika.<br/>
                    Atrybut 'autocomplete' pozwala także wypełnić pola wcześniej zapamiętanymi danymi. Jest to dużym ułatwieniem, również dla osób, które:
                </p>
                    <ul>
                        <li>mają problem z pamięcią,</li>
                        <li>wypełniają formularze w obcym języku – funkcjonalność ta działa niezależnie od języka strony.</li>
                    </ul>
                    <div>
                        <p>
                            <label for="email1">Pole email z autouzupełnianiem:</label><br/>
                            <input type="email" name="email" id="email1"><br/>
                        </p>
                    </div>
                    <code>
                        &lt;input type="email" name="email"&gt;
                    </code>
                <p style="margin-top: 2em;">
                    Technologie asystujące dla zdefiniowanych pól mogą wyświetlać ikony, które dla części użytkowników są lepiej zrozumiałe od tekstu.
                    Są to osoby z zaburzeniami poznawczymi, którym jest trudno czytać tekst oraz osoby z dysleksją lub nieumiejące czytać.<br/>
                    <label for="email2"><i class="fa fa-envelope"></i></label>
                    <input type="email" name="email" id="email2">
                </p>
            </div>
            <div>
                <h3 id="1_3_6">Kryterium sukcesu 1.3.6 Określenie przeznaczenia – Poziom AAA</h3>
                <p class="list-glue">
                    Treści, które tworzysz w języku znaczników (np. HTML), muszą być odczytywane przez technologie asystujące. Tymi treściami są:
                </p>
                    <ul>
                        <li>komponenty interfejsu użytkownika (przyciski, linki, pola formularzy),</li>
                        <li>ikony,</li>
                        <li>obszary kluczowe (regiony), takie jak &lt;header&gt;, &lt;footer&gt;, &lt;article&gt;.</li>
                    </ul>
                <p>
                    Dzięki temu technologie asystujące mogą przekazać informacje o przeznaczeniu elementów strony.
                    Kiedy element jest opisany, użytkownik może zdecydować, w jaki sposób informacje będą przekazywane.
                    Istnieje wiele możliwości: modyfikacja w postaci dodania znajomego słownictwa, skrótów klawiszowych lub spersonalizowanych ikon.
                </p>
                <p class="list-glue">
                    Treść musi być oznaczona w taki sposób, aby technologie wspomagające mogły określić, co przedstawia.<br/>
                    Może być to m.in.:
                </p>
                <ul>
                    <li>
                        Informacja, do czego służy link (odnośnik do logowania, strony głównej):
                        <p style="margin-top: 0;">
                            <a style="cursor: pointer;">Pobierz raport ludności w Polsce na rok 2020</a><br/>
{#                            TODO: dodać zdj książki #}
                            <a style="cursor: pointer;">Wyświetl książkę online [załączona grafika książki]</a>
                        </p>
                    </li>
                    <li>
                        Oznaczone obszary na stronie – użytkownik może je pomijać lub wyłączać:
                        <pre>
                            <code>
&lt;header&gt;&lt;/header&gt;
&lt;nav&gt;&lt;/nav&gt;
&lt;main&gt;
    &lt;article&gt;
        &lt;section>&lt;/section&gt;
        &lt;section>&lt;/section&gt;
    &lt;/article&gt;
    &lt;aside&lt;/aside&gt;
&lt;/main&gt;
&lt;footer>&lt;/footer&gt;
                            </code>
                        </pre>
                        <img src="{{ asset('img/html_struct.png') }}" alt="Oznaczenie obszarów na stronie, kolejno: header, nav, main z article podzielonym na 3 sections i aside, footer." class="img-resp-vert" />
                    </li>
                </ul>
            </div>
        </article>

        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Poziomy w różnych kolorach -->
        <!-- Zrobić coś z poziomem w nawiasie -->
        <!-- Filtrowanie po poziomach? -->
        <!-- Scroll do góry wszędzie? -->
        <!-- + komu to pomaga -->
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}