{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 2.1 Dostępność z klawiatury
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 2.1 Dostępność z klawiatury</h1>
            <section>
                <p>
                    Zapewnij dostępność wszystkich funkcjonalności za pomocą klawiatury.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#2_1_1">Kryterium sukcesu 2.1.1 Klawiatura – Poziom A</a></li>
                        <li><a href="#2_1_2">Kryterium sukcesu 2.1.2 Bez pułapki na klawiaturę – Poziom A</a></li>
                        <li><a href="#2_1_3">Kryterium sukcesu 2.1.3 Klawiatura (bez wyjątków) – Poziom AAA</a></li>
                        <li><a href="#2_1_4">Kryterium sukcesu 2.1.4 Jednoznakowe skróty klawiaturowe – Poziom A</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="2_1_1">Kryterium sukcesu 2.1.1 Klawiatura – Poziom A</h3>
                <p>
                    Wszystkie treści muszą być obsługiwane nie tylko przy pomocy myszy. Uwzględnij także obsługę klawiatury i innych technologii.
                </p>
                <p class="list-glue">
                    Klawiatura ma być używana swobodnie, bez ograniczeń co do:
                </p>
                    <ul>
                        <li>określonego czasu na wciśnięcie klawisza,</li>
                        <li>długości jego przytrzymania.</li>
                    </ul>
                <p>
                    Wyjątkiem są treści strony, które wymagają użycia myszy np. część gier komputerowych.
                </p>
                <p class="list-glue">
                    W ten sposób pomożesz użytkownikom, którzy nie korzystają z myszy lub korzystają z niej z trudnością:
                </p>
                    <ul>
                        <li>osoby niewidzące, które używają technologii asystujących, takich jak czytnik ekranu,</li>
                        <li>osoby słabowidzące, które źle widzą małe elementy, takie jak kursor myszy,</li>
                        <li>osoby, które mają problem z poruszaniem rękami i wykonywaniem precyzyjnych ruchów.</li>
                    </ul>
            </section>
            <section>
                <h3 id="2_1_2">Kryterium sukcesu 2.1.2 Bez pułapki na klawiaturę – Poziom A</h3>
                <p>
                    Niektóre elementy strony wymagają, aby fokus klawiatury przemieścił się do ich wnętrza (np. menu).
                </p>
                <p>
                    Musisz pozwolić, aby użytkownik mógł wyjść z aktualnego elementu. Jeśli opuszczenie wymaga niestandardowego użycia klawiszy, musisz dostarczyć użytkownikowi podpowiedź.
                </p>
                <p>
                    <strong>WAŻNE</strong><br/>
                    Jeśli nie zastosujesz się do tego kryterium, strona będzie niedostępna dla części osób. To grupa, która korzysta tylko z klawiatury do przemieszkania się po stronie.<br/>
                    <a href="{{ url('_2_1_2_example') }}">Przykład</a>
                </p>
            </section>
            <section>
                <h3 id="2_1_3">Kryterium sukcesu 2.1.3 Klawiatura (bez wyjątków) – Poziom AAA</h3>
                <p>
                    Ze wszystkich treści na stronie da się korzystać także tylko przy użyciu klawiatury lub innego interfejsu.
                </p>
                <p>
                    Kryterium rozszerza <a href="#2_1_1">Kryterium sukcesu 2.1.1 Klawiatura – Poziom A</a> o brak wyjątków.
                </p>
            </section>
            <section>
                <h3 id="2_1_4">Kryterium sukcesu 2.1.4 Jednoznakowe skróty klawiaturowe – Poziom A</h3>
                <p class="list-glue">
                    Niektóre elementy na stronie mogą zostać włączone przez skróty, które aktywują się po naciśnięciu jednego klawisza.
                    W takim przypadku musisz pozwolić przynajmniej na jedno z poniższych:
                </p>
                    <ul>
                        <li>wyłączenie skrótu,</li>
                        <li>zmianę kombinacji znaków dla skrótu (mapowanie),</li>
                        <li>aktywację skrótu tylko, kiedy obiekt uzyska fokus.</li>
                    </ul>
                <p class="list-glue">
                    Skróty klawiaturowe pomagają użytkownikom sprawniej poruszać się po stronie.<br/>
                    Warto jednak pamiętać, że część osób ma kłopot z korzystaniem ze skrótów
                    jednoklawiszowych. Takimi użytkownikami są m.in.:
                </p>
                    <ul>
                        <li>osoby korzystające z poleceń głosowych – niektóre skróty są oparte o jedną literę. Mogą one zostać rozpoznane w mowie i niecelowo aktywować elementy na stronie,</li>
                        <li>osoby mające problem z wykonywaniem ruchów rękami – mogą uderzyć przypadkowe klawisze.</li>
                    </ul>
                <p>
                    <strong>Naciśnij kombinację klawiszy 'Ctrl' + 'z', aby otworzyć menu boczne.</strong><br/>
                    <label>Wyłącz skrót <input type="checkbox" id="disable-shortcut" /></label>
                </p>
            </section>
        </article>
        <article>
            <h2>Komentarze</h2>
            {% if pagination is defined and pagination.items|length %}
                <div style="flex-wrap: wrap;">
                    {% for comment in pagination.items %}
                        {% if comment.is_accepted and comment.content.id == 5 %}
                            <section class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-style">
                                    {{ comment.message }}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak komentarzy' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                <div>{{ form_label(form.message) }}</div>
                <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                <div>
                    <input type="submit" value="{{ 'Dodaj komentarz' }}" class="submit-btn"/>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </article>
    </main>
    {% include 'footer.html.twig' %}

    <script>
        const navbar = document.getElementById('a11y-options-expanded');
        let shortcut_opened = false;

        const disable_shortcut = document.getElementById('disable-shortcut');
        let shortcut_disabled = false;

        disable_shortcut.addEventListener('click', () => {
            if (disable_shortcut.checked === true) {
                shortcut_disabled = true;
            }
            else if (disable_shortcut.checked === false) {
                shortcut_disabled = false;
            }
        });

        window.onkeydown = function(e) {
            if(!shortcut_disabled) {
                if (!shortcut_opened & e.ctrlKey && e.key === 'z') {
                    navbar.style.display = 'block';
                    shortcut_opened = true;
                } else if (shortcut_opened & e.ctrlKey && e.key === 'z') {
                    navbar.style.display = 'none';
                    shortcut_opened = false;
                }
            }
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}