{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 2.2 Wystarczający czas
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 2.2 Wystarczający czas</h1>
            <section>
                <p>Zapewnij użytkownikom wystarczająco dużo czasu na przeczytanie i skorzystanie z treści.</p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#2_2_1">Kryterium sukcesu 2.2.1 Dostosowanie czasu – Poziom A</a></li>
                        <li><a href="#2_2_2">Kryterium sukcesu 2.2.2 Pauza, zatrzymanie, ukrycie – Poziom A</a></li>
                        <li><a href="#2_2_3">Kryterium sukcesu 2.2.3 Bez ograniczeń czasowych – Poziom AAA</a></li>
                        <li><a href="#2_2_4">Kryterium sukcesu 2.2.4 Przerywanie – Poziom AAA</a></li>
                        <li><a href="#2_2_5">Kryterium sukcesu 2.2.5 Ponowne potwierdzenie autentyczności – Poziom AAA</a></li>
                        <li><a href="#2_2_6">Kryterium sukcesu 2.2.6 Ostrzeżenie o limicie czasu – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="2_2_1">Kryterium sukcesu 2.2.1 Dostosowanie czasu – Poziom A</h3>
                <p class="list-glue">
                    Część treści na stronie może mieć ograniczenia czasowe, na przykład:
                </p>
                    <ul>
                        <li>limit czasu na dokończenie zamówienia;</li>
                        <li>częstotliwość automatycznego odświeżania strony.</li>
                    </ul>
                    <img src="{{ asset('img/2_2_1_stop.jpg') }}" alt="Godzina z ikoną zatrzymania czasu." class="center-img" style="max-width: 300px;" />
                <p class="list-glue">
                    Muszą one spełnić przynajmniej jeden z warunków:
                </p>
                    <ul>
                        <li>można wyłączyć limit czasowy lub zatrzymać zegar;</li>
                        <li>można swobodnie dostosować limit czasowy (minimum 10x więcej niż domyślny limit),</li>
                        <li>
                            przed upływem czasu użytkownik otrzymuje komunikat i ma przynajmniej 20 sekund na przedłużenie limitu. Przedłużenie
                            czasu to minimum 10x więcej niż domyślny limit;
                        </li>
                        <li>limit czasowy jest związany z wydarzeniem na żywo, więc nie da się go zmienić,</li>
                        <li>limit czasowy jest istotny i jego zmiana unieważniałaby czynność;</li>
                        <li>limit czasowy przekracza 20 godzin.</li>
                    </ul>
                <p>
                    Zmiana limitu czasu pozwala na wykonanie czynności w czasie odpowiednim dla każdego użytkownika.<br/>
                    Część użytkowników potrzebuje więcej czasu na przeczytanie tekstu. Niektórzy wolniej rozpoznają strukturę strony.
                    To np. osoby, które nie widzą i korzystają z technologii asystujących.
                </p>
                    <img src="{{ asset('img/2_2_1_extend.jpg') }}" alt="Ikona zegara ze strzałką, która pokazuje przedłużenie czasu o 10 razy." class="center-img" style="max-width: 400px;" />
            </section>
            <section>
                <h3 id="2_2_2">Kryterium sukcesu 2.2.2 Pauza, zatrzymanie, ukrycie – Poziom A</h3>
                <p class="list-glue">
                    <u>Treści, które:</u>
                </p>
                    <ul style="margin-bottom: 0;">
                        <li>poruszają się,</li>
                        <li>migoczą,</li>
                        <li>przesuwają,</li>
                        <li>aktualizują się lub włączają automatycznie,</li>
                        <li>trwają powyżej 5 sekund,</li>
                        <li>pokazywane są równolegle z innymi treściami,</li>
                    </ul>
                <p style="margin-top: 0;">
                    użytkownik może wstrzymać, zatrzymać lub wyłączyć, jeśli taki sposób prezentacji nie wpływa istotnie na odbiór.
                </p>
                <p class="list-glue">
                    <u>Samoaktualizujące się treści, które:</u>
                </p>
                    <ul style="margin-bottom: 0;">
                        <li>włączają się automatycznie</li>
                        oraz
                        <li>są przedstawiane równolegle z inną treścią,</li>
                    </ul>
                <p style="margin-top: 0;">
                    użytkownik może wstrzymać, zatrzymać, kontrolować częstotliwość ich aktualizacji, jeśli taki sposób prezentacji nie wpływa istotnie na odbiór.
                </p>
                <p class="list-glue">
                    Do treści spełniających te kryteria należą:
                </p>
                    <ul>
                        <li>poruszające się grafiki,</li>
                        <li>animacje,</li>
                        <li>automatycznie odświeżające się informacje, np. o pogodzie, kursach walut,</li>
                        <li>reklamy, których zawartość sama się przełącza.</li>
                    </ul>
                <div id="rect-anim" style="margin-top: 2em;"></div><br/>
                <input type="button" id="disable-anim" value="Wyłącz animację" />
                <p class="list-glue">
                    Jeśli treść porusza się, część użytkowników może mieć:
                </p>
                    <ul>
                        <li>trudność w skupieniu się na treści,</li>
                        <li>za mało czasu na przeczytanie treści.</li>
                    </ul>
            </section>
            <section>
                <h3 id="2_2_3">Kryterium sukcesu 2.2.3 Bez ograniczeń czasowych – Poziom AAA</h3>
                <p>
                    Twórz zawartość, która nie jest ograniczona czasowo.
                </p>
                <p>
                    Kryterium wymusza, aby cała zawartość na stronie nie była ograniczana czasowo. Wyjątkiem są wydarzenia na żywo.
                </p>
                <img src="{{ asset('img/2_2_3.jpg') }}" alt="Przekreślona ikona zegara." class="center-img" style="max-width: 250px;" />
            </section>
            <section>
                <h3 id="2_2_4">Kryterium sukcesu 2.2.4 Przerywanie – Poziom AAA</h3>
                <p class="list-glue">
                    Dodatkowe powiadomienia i informacje mogą zostać odroczone lub wyłączone. Dotyczy to treści, które nie ogłaszają sytuacji wyjątkowych.<br/>
                    Sytuacja wyjątkowa to m.in.:
                </p>
                    <ul>
                        <li>rządowe wiadomości o niebezpieczeństwie, takie jak klęska żywiołowa, ewakuacja;</li>
                        <li>utrata danych, brak połączenia internetowego, wylogowanie użytkownika.</li>
                    </ul>
                <div>
                    <p>
                        Wyłączenie lub odroczenie informacji pozwala skupić się na czytanej treści.<br/>
                        <video class="center-vid" controls>
                            <source src="{{ asset('img/2_2_4.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video><br/>
                        Jest to bardzo istotne dla osób z deficytem uwagi. Tacy użytkownicy rozpraszają się łatwiej, kiedy na ekranie niespodziewanie pojawia się nowa treść.
                    </p>
                </div>
            </section>
            <section>
                <h3 id="2_2_5">Kryterium sukcesu 2.2.5 Ponowne potwierdzenie autentyczności – Poziom AAA</h3>
                <p>
                    Kiedy sesja autoryzowana przez użytkownika kończy się lub zakończyła, użytkownik może ją kontynuować bez utraty danych.
                    Wystarczy, że zautoryzuje się ponownie.
                </p>
                <p class="list-glue">
                    Kryterium sukcesu pozwala na dokończenie czynności, która:
                </p>
                    <ul>
                        <li>wymaga autoryzacji przez użytkownika;</li>
                        <li>zawiera zabezpieczenia wylogowujące użytkownika, np. limit nieaktywności.</li>
                    </ul>
                <p class="list-glue">
                Przykładami są:
                </p>
                    <ul>
                        <li>transakcja w banku za zamówienie w sklepie internetowym,</li>
                        <li>aplikacja internetowa do wypełniana dokumentów rządowych,</li>
                        <li>ankieta, która wymaga zalogowania się przez użytkownika.</li>
                    </ul>
                <p>
                    Część użytkowników potrzebuje więcej czasu na wykonanie czynności. Odbiorca może wolniej czytać lub mieć różne ograniczenia ruchowe.
                </p>
                <p>
                    Ważne, aby użytkownik po zakończeniu sesji autoryzacji nie utracił wprowadzanych danych i mógł kontynuować ich wypełnianie.
                    Jedyne, co powinien zrobić, to ponownie potwierdzić swoją tożsamość.
                </p>
                    <img src="{{ asset('img/2_2_5.jpg') }}" alt="Panel finalizacji zamówienia w sklepie z komunikatem: 'Twoja sesja wygasła, aby sfinalizować zamówienie, zaloguj się ponownie. Zaloguj.'." class="img-resp" />
            </section>
            <section>
                <h3 id="2_2_6">Kryterium sukcesu 2.2.6 Ostrzeżenie o limicie czasu – Poziom AAA</h3>
                <p>
                    Bezczynność użytkownika może spowodować utratę danych. W takim przypadku użytkownik musi być wcześniej poinformowany o czasie, po którym dane zostaną usunięte.
                </p>
                <p>
                    Wyjątkiem jest sytuacja, kiedy dane są przechowywane przez ponad 20 godzin od ostatniej aktywności użytkownika.
                </p>
                    <img src="{{ asset('img/2_2_6.jpg') }}" alt="Formularz z komunikatem: Po 10 minutach nieaktywności formularz zostanie zresetowany. Jeśli nie chcesz utracić postępu, kontynuuj wypełnianie." class="img-resp" />
                <p>
                    Użytkownicy zazwyczaj robią przerwy w trakcie wykonywania dłuższego zadania.<br/>
                    Część użytkowników, np. z zaburzeniami poznawczymi, może mieć problem z długotrwałym skupieniem uwagi. Wypełnianie formularzy, zamawianie biletu lotniczego, może być dla nich wyzwaniem.
                </p>
                <p>
                    Najlepiej zostawić dane wypełnione przez użytkownika przez okres około 20 godzin od ostatniej aktywności użytkownika.
                    Jeśli nie jest to możliwe, musisz powiadomić użytkownika o czasie, po którym dane zostaną usunięte.
                </p>
            </section>
        </article>
    </main>
    {% include 'footer.html.twig' %}

    <script>
        const obj = document.getElementById('rect-anim');
        const disable_anim = document.getElementById('disable-anim');
        let is_animated = true;

        disable_anim.onclick = function() {
            if (is_animated) {
                is_animated = false;
                obj.style.animation = 'none';
                disable_anim.value = "Włącz animację";
            }
            else {
                is_animated = true;
                obj.style.animation = 'move 5s infinite';
                disable_anim.value = "Wyłącz animację";
            }
        }
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}