{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 2.3 Ataki padaczki
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 2.3 Ataki padaczki</h1>
            <section>
                <p>
                    Prezentuj treść tak, aby nie wywoływała napadów padaczkowych.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#2_3_1">Kryterium sukcesu 2.3.1 Trzy błyski lub wartości poniżej progu – Poziom A</a></li>
                        <li><a href="#2_3_2">Kryterium sukcesu 2.3.2 Trzy błyski – Poziom AAA</a></li>
                        <li><a href="#2_3_3">Kryterium sukcesu 2.3.3 Animacja po interakcji – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="2_3_1">Kryterium sukcesu 2.3.1 Trzy błyski lub wartości poniżej progu – Poziom A</h3>
                <p class="list-glue">
                    Błyskające treści nie mogą:
                </p>
                    <ul>
                        <li>
                            błyskać częściej niż 3 razy na sekundę,
                        </li>
                        lub
                        <li>
                            <a target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/three-flashes-or-below-threshold.html#dfn-general-flash-and-red-flash-thresholds"><u>przekraczać wartości granicznych dla błysków</u></a>.
                        </li>
                    </ul>
                <p>
                    <strong>OSTRZEŻENIE</strong><br/>
                    Poniższe przykłady mogą wywołać atak padaczki.
                </p>
                <div>
                    <p>
                        Światło białe:<br/>
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/2_3_1.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video><br/><br/>
                        Światło czerwone:<br/>
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/2_3_1_red.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video><br/><br/>
                        Błysk, który spełnia kryterium:<br/>
                        <video width="320" height="240" controls>
                            <source src="{{ asset('img/2_3_1_dobry.mp4') }}" type="video/mp4" />
                            Twoja przeglądarka nie wspiera elementów wideo.
                        </video>
                    </p>
                </div>
                <p>
                    <strong>UWAGA</strong><br/>
                    Jeśli nie zastosujesz się do tego kryterium, strona będzie niedostępna dla części osób.
                </p>
                <p>
                    Strony, które zawierają treści błyskające 3 razy na sekundę lub częściej, mogą wywoływać ataki padaczki fotogennej.
                    Użytkownicy są jeszcze bardziej czuli na błyski czerwonego światła.
                </p>
            </section>
            <section>
                <h3 id="2_3_2">Kryterium sukcesu 2.3.2 Trzy błyski – Poziom AAA</h3>
                <p>
                    Kryterium ogranicza jeszcze bardziej parametry błysków w porównaniu do <a href="#2_3_1">Kryterium sukcesu 2.3.1 Trzy błyski lub wartości poniżej progu</a>.
                    Sprawia to, że ograniczenia dotyczą nawet 1 piksela ekranu.
                </p>
            </section>
            <section>
                <h3 id="2_3_3">Kryterium sukcesu 2.3.3 Animacja po interakcji – Poziom AAA</h3>
                <p>
                    Kiedy użytkownik wchodzi w interakcję z animowanymi elementami, pozwól mu wyłączyć wszelkie animacje.
                </p>
                    <input type="button" value="Prześlij" id="inter-anim" style="color: black;" />
                <p>
                    Wyjątkiem są animacje, które są ważną częścią pokazywanej treści.
                </p>
                <p class="list-glue">
                    Część użytkowników źle reaguje na ruch pojawiający się na stronie i może odczuwać:
                </p>
                    <ul>
                        <li>dezorientację,</li>
                        <li>zawroty głowy,</li>
                        <li>ból głowy,</li>
                        <li>mdłości.</li>
                    </ul>
                <p class="list-glue">
                    Co możesz zrobić, aby zapobiegać takim reakcjom:
                </p>
                    <ul>
                        <li>twórz tylko potrzebne animacje,</li>
                        <li>pozwól użytkownikowi wyłączyć animacje,</li>
                        <li>jeśli animujesz całą stronę, np. jej przesuwanie, rób to w sposób odpowiedzialny. Nie skupiaj się jedynie na efekcie wizualnym.</li>
                    </ul>
            </section>
        </article>
        <article>
            <h2>Komentarze</h2>
            {% if pagination is defined and pagination.items|length %}
                <div style="flex-wrap: wrap;">
                    {% for comment in pagination.items %}
                        {% if comment.is_accepted and comment.content.id == 7 %}
                            <section class="opinion">
                                <span class="user-info">{{ comment.author.username }}, {{ comment.date|date('Y/m/d') }}</span>
                                <div class="message-style">
                                    {{ comment.message }}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak komentarzy' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                <div>{{ form_label(form.message) }}</div>
                <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                <div>
                    <input type="submit" value="{{ 'Dodaj komentarz' }}" class="submit-btn"/>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </article>
    </main>
    {% include 'footer.html.twig' %}

    <script>
        const sub_btn = document.getElementById('inter-anim');
        let enabled = false;

        sub_btn.onclick = function() {
            if (!enabled) {
                enabled = true;
                sub_btn.style.animation = 'inter 5s';
                sub_btn.value = "Przesłano";
            }
            else {
                enabled = false;
                sub_btn.style.animation = 'none';
                sub_btn.value = "Prześlij";
            }
        }
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}