{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 2.4 Możliwość nawigacji
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 2.4 Możliwość nawigacji</h1>
            <section>
                <p>
                    Zapewnij użytkownikowi narzędzia pomagające w nawigacji, znalezieniu treści i określeniu, gdzie się aktualnie znajduje.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#2_4_1">Kryterium sukcesu 2.4.1 Możliwość pominięcia bloków – Poziom A</a></li>
                        <li><a href="#2_4_2">Kryterium sukcesu 2.4.2 Tytuły stron – Poziom A</a></li>
                        <li><a href="#2_4_3">Kryterium sukcesu 2.4.3 Kolejność fokusu – Poziom A</a></li>
                        <li><a href="#2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście) – Poziom A</a></li>
                        <li><a href="#2_4_5">Kryterium sukcesu 2.4.5 Wiele dróg – Poziom AA</a></li>
                        <li><a href="#2_4_6">Kryterium sukcesu 2.4.6 Nagłówki i etykiety – Poziom AA</a></li>
                        <li><a href="#2_4_7">Kryterium sukcesu 2.4.7 Widoczny fokus – Poziom AA</a></li>
                        <li><a href="#2_4_8">Kryterium sukcesu 2.4.8 Lokalizacja – Poziom AAA</a></li>
                        <li><a href="#2_4_9">Kryterium sukcesu 2.4.9 Cel łącza (z samego łącza) – Poziom AAA</a></li>
                        <li><a href="#2_4_10">Kryterium sukcesu 2.4.10 Nagłówki sekcji – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="2_4_1">Kryterium sukcesu 2.4.1 Możliwość pominięcia bloków – Poziom A</h3>
                <p>
                    Kiedy treści na podstronach powtarzają się, pozwól użytkownikowi je pominąć.
                </p>
                <p class="list-glue">
                    Na stronie zazwyczaj będzie się powtarzać:
                </p>
                    <ul>
                        <li>menu główne,</li>
                        <li>sekcje z reklamami.</li>
                    </ul>
                <p class="list-glue">
                    Użytkownik, który nie ma niepełnosprawności, pomija takie informacje wzrokiem.
                    Odbiorca niepełnosprawny może mieć jednak kłopot z pomijaniem bloków powtarzającej się treści.<br/>
                    Osoby:
                </p>
                    <ul style="margin-bottom: 0;">
                        <li>niewidzące, które korzystają z technologii asystujących;</li>
                        <li>używające tylko klawiatury,</li>
                    </ul>
                <p style="margin-top: 0;">
                    aby przeczytać najważniejszą treść, musiałyby przemieścić się po wielu elementach strony.<br/>
                    W takiej sytuacji bardzo pomocny staje się link, który prowadzi do głównej treści:
                </p>
                <img src="{{ asset('img/2_4_1.jpg') }}" alt="Podświetlony przycisk 'Przejdź do głównej zawartości'." style="margin-top: 1em;" />
                <p class="list-glue">
                    <b>Możesz zobaczyć, jak działa taki link:</b>
                </p>
                    <ol>
                        <li>Kliknij myszą na samej górze strony,</li>
                        <li>Wciśnij klawisz Tab,</li>
                        <li>Wciśnij kombinację klawiszy 'Shift + 'Tab',</li>
                        <li>Po otrzymaniu fokusu, na widocznym linku wciśnij klawisz 'Enter'.</li>
                    </ol>
            </section>
            <section>
                <h3 id="2_4_2">Kryterium sukcesu 2.4.2 Tytuły stron – Poziom A</h3>
                <p class="list-glue">
                    Każda podstrona ma zawierać niepowtarzający się tytuł. Tytuł opisuje i streszcza jej:
                </p>
                    <ul>
                        <li>temat,</li>
                        <li>cel,</li>
                        <li>zawartość.</li>
                    </ul>
                    <img src="{{ asset('img/2_4_2.jpg') }}" alt="Otwarta karta w przeglądarce." style="margin-bottom: 1em;" />
                    <code>
                        &lt;title&gt;Wytyczna 2.4 Możliwość nawigacji&lt;/title&gt;
                    </code>
                <p>
                    Osoby, które mają problem z pamięcią, podczas przeglądania mogą poczuć się zagubione.
                    Tytuły pozwalają szybko zorientować się w obecnym położeniu na stronie.
                </p>
                <p>
                    Technologie asystujące czytają użytkownikom tytuły stron. Takie osoby mogą zdecydować, czy otwarta strona zawiera szukaną treść.
                </p>
            </section>
            <section>
                <h3 id="2_4_3">Kryterium sukcesu 2.4.3 Kolejność fokusu – Poziom A</h3>
                <p class="list-glue">
                    Kiedy:
                </p>
                    <ol style="margin-bottom: 0;">
                        <li>użytkownik do przemieszczania się po stronie może używać klawiatury;</li>
                        <li>kolejność czytania zawartości jest ważna,</li>
                    </ol>
                <p style="margin-top: 0;">
                    ustal odpowiednią kolejność fokusu na stronie.
                </p>
                <p>
                    Kolejność możesz narzucić przez użycie atrybutu 'tabindex' w znaczniku HTML elementu.
                </p>
                <p>
                    Odpowiednia kolejność pozwala użytkownikowi na zapoznanie się z treścią w logicznej kolejności.
                    Nie trzeba jej zawsze ustawiać, jednak warto przetestować stronę i zobaczyć, czy nawigacja jest zrozumiała i zgodna z naszą wizją.
                </p>
                <p class="list-glue">
                    Odpowiednia kolejność sprawi, że:
                </p>
                    <ul>
                        <li>odbiorca nie będzie zdezorientowany przez niestandardowy układ treści;</li>
                        <li>użytkownik nie będzie korzystał ze strony w sposób nieprzewidziany;</li>
                        <li>niewidomi użytkownicy mogą wyobrazić sobie stronę jako przewidywalną całość.</li>
                    </ul>
                <p>
                    <a href="{{ url('_2_4_3_example') }}">Przykład</a>
                </p>
            </section>
            <section>
                <h3 id="2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście) – Poziom A</h3>
                <p class="list-glue">
                    Cel linku ma wynikać z jego:
                </p>
                    <ul>
                        <li>treści,</li>
                        <li>kontekstu, w którym został umieszczony.</li>
                    </ul>
                <p class="list-glue">
                    Nie uwzględnia to łączy, gdzie:
                </p>
                    <ul>
                        <li>mimo opisu, cel łącza nadal nie będzie zrozumiały;</li>
                        <li>łącze zawiera informacje, które powinny zostać tajemnicą do czasu otwarcia.</li>
                    </ul>
                <p>
                    Odpowiedni opis linku pozwala określić, dokąd on prowadzi.
                    Użytkownicy, którzy korzystają z czytników treści, mogą zdecydować, czy chcą odwiedzić link, czy go pominąć.
                </p>
                <p>
                    Linki mogą zostać umieszczone w kontekście (blok tekstu, element listy, komórka w tabeli).<br/>
                    <i class="fa fa-arrow-right list-arrow"></i>Jeśli jest to tekst, link powinien znajdować się na końcu treści.<br/>
                    <i class="fa fa-arrow-right list-arrow"></i>Kiedy link prowadzi do aplikacji lub dokumentu, wystarczy, że link opiszesz nazwą tej aplikacji lub dokumentu.
                </p>
                <p>
                    Przykład:<br/>
                    W jednym z kryteriów dla wytycznej <i>2.3 Ataki padaczki</i>, użytkownik powinien mieć możliwość
                    <a href="{{ url('epilepsy_index') }}#2_3_3">wyłączenia animacji dla elementów interaktywnych.</a>
                </p>
                <p>
                    Warto zachować spójność w nazewnictwie <a href="#2_4_2">tytułów stron</a> i linków, które prowadzą do tych stron.
                    Linki, które prowadzą do tej samej treści, powinny być tak samo nazwane.
                </p>
            </section>
            <section>
                <h3 id="2_4_5">Kryterium sukcesu 2.4.5 Wiele dróg – Poziom AA</h3>
                <p>
                    Istnieje wiele dróg, aby dostać się do konkretnej podstrony w serwisie internetowym lub aplikacji.<br/>
                    Nie dotyczy to sytuacji, kiedy strona jest wynikiem operacji lub jednym z jej etapów.
                </p>
                    <img src="{{ asset('img/rozne_miejsca.jpg') }}" alt="Strzałki poprowadzone między ikonami plików internetowych. Pokazanie przechodzenia między plikami." class="center-img" style="width: 300px; height: auto;" />
                <p class="list-glue">
                    Jeśli zastosujesz się do wytycznej, odbiorcy będą mogli korzystać ze strony według własnych potrzeb.
                    Użytkownik może używać różnych narzędzi i sposobów przeglądania, takich jak:
                </p>
                    <ul>
                        <li>wyszukiwarka treści na stronie,</li>
                        <li><u><a href="{{ url('mapa_serwisu_index') }}">mapa serwisu</a></u>, która umożliwia przegląd treści,</li>
                        <li>przeglądanie podstron w celu zrozumienia budowy serwisu.</li>
                    </ul>
                    <img src="{{ asset('img/searchbar.jpg') }}" alt="Pole wyszukiwania z ikoną lupy."  class="center-img" style="width: 250px; height: auto;" />
                <p class="list-glue">
                    Musisz pamiętać, że część zawartości nie będzie ogólnodostępna i żadne łącze nie będzie do niej prowadziło. Może być to np.:
                </p>
                <ul>
                    <li>podsumowanie zamówienia w sklepie internetowym;</li>
                    <li>potwierdzenie transakcji w aplikacji banku;</li>
                    <li>konto użytkownika po zalogowaniu.</li>
                </ul>
            </section>
            <section>
                <h3 id="2_4_6">Kryterium sukcesu 2.4.6 Nagłówki i etykiety – Poziom AA</h3>
                <p>
                    Nagłówki i etykiety na stronie mają opisywać wyświetlaną zawartość. Najlepiej użyć pojedynczych słów lub krótkich opisów.
                </p>
                    <pre id="code-example">
                        <code>
<b>&lt;h1&gt;Nowy plac zabaw&lt;/h1&gt;</b>
&lt;p&gt;W dniu 21 kwietnia odbędzie się oficjalne otwarcie nowego placu zabaw.&lt;/p&gt;
<b>&lt;h3&gt;Atrakcje&lt;/h3&gt;</b>
&lt;p&gt;Podczas uroczystości wystąpią młode talenty z pobliskich szkół.&lt;/p&gt;
                        </code>
                    </pre>
                <p style="margin-bottom: 0;">
                    <label for="email">Email</label><br/>
                    <input type="email" name="email" id="email">
                </p>
                    <pre>
                        <code>
<b>&lt;label for="email"&gt;Email&lt;/label&gt;</b>&lt;br/&gt;
&lt;input type="email" name="email" id="email"/&gt;
                        </code>
                    </pre>
                <p>
                    Dzięki opisom użytkownik rozumie, co zawiera strona i jak została rozmieszczona treść.
                    Jasne oznaczenie treści pozwala też łatwiej ją odnaleźć.
                </p>
            </section>
            <section>
                <h3 id="2_4_7">Kryterium sukcesu 2.4.7 Widoczny fokus – Poziom AA</h3>
                <p>
                    Kiedy użytkownik korzysta z klawiatury do nawigacji po stronie, fokus klawiatury musi być zawsze widoczny.
                </p>
                <p>
                    Widoczny fokus pozwala użytkownikowi zorientować się, w którym miejscu na stronie się znajduje.
                </p>
                <p>
                    Fokus umożliwia także zrozumienie roli elementów, np. podświetlone pole formularza informuje, że można wprowadzić tekst.
                </p>
                <img src="{{ asset('img/2_4_7.jpg') }}" alt="Przycisk z fokusem i przycisk bez fokusu.">
            </section>
            <section>
                <h3 id="2_4_8">Kryterium sukcesu 2.4.8 Lokalizacja – Poziom AAA</h3>
                <p class="list-glue">
                    Pokaż użytkownikowi, gdzie znajduje się na stronie. Dzięki informacji o obecnym położeniu:
                </p>
                    <ul>
                        <li>użytkownikowi trudniej się „zgubić”;</li>
                        <li>łatwiej zrozumieć strukturę strony;</li>
                        <li>można szybko przemieszczać się między powiązanymi podstronami.</li>
                    </ul>
                <p>
                    Lokalizowanie użytkownika jest bardzo przydatne, kiedy znajduje się na rozbudowanej stronie.
                    Funkcjonalność jest też dużym ułatwieniem dla osoby z deficytem uwagi. Takiemu odbiorcy trudniej skupić się na zadaniu.
                    Bez pomocy może poczuć się zdezorientowany, kiedy dłużej przegląda rozbudowaną stronę.
                </p>
                <p>
                    Jednym ze sposobów na pokazanie obecnej lokalizacji na stronie jest <b>menu okruszkowe</b>. Wyświetla ono ścieżkę odwiedzanych podstron:
                </p>
                    <img src="{{ asset('img/breadcrumb.jpg') }}" style="width: 250px; height: auto;" alt="Menu okruszkowe: Strona główna/ Książki / Reportaż."/>
                <p>
                    Standardem jest także możliwość powrotu do strony głównej po kliknięciu logo na górze strony:
                    <img src="{{ asset('img/2_4_8.jpg') }}" style="width: 250px; height: auto;" alt="Góra strony z zaznaczonym logo."/>
                </p>
            </section>
            <section>
                <h3 id="2_4_9">Kryterium sukcesu 2.4.9 Cel łącza (z samego łącza) – Poziom AAA</h3>
                <p>
                    Cel łącza musi być zrozumiały z jego opisu, a nie z kontekstu, w jakim się znajduje.
                    Jeśli cel łącza wynika z kontekstu, nadal musisz dołączyć jego opis.
                </p>
                <p class="list-glue">
                    Nie uwzględnia to łączy, gdzie:
                </p>
                    <ul>
                        <li>mimo opisu, cel łącza nadal nie będzie zrozumiały;</li>
                        <li>łącze zawiera informacje, które powinny zostać tajemnicą do czasu otwarcia.</li>
                    </ul>
                <p>
                    Jest to rozszerzenie <a href="#2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście)</a>.
                </p>
                <p>
                    Przykładowo:<br/>
                    <a href="{{ url('epilepsy_index') }}#2_3_3">Kryterium sukcesu 2.3.3 Animacja po interakcji</a>
                    pozwala użytkownikowi na wyłączenie animacji elementów interaktywnych.
                </p>
            </section>
            <section>
                <h3 id="2_4_10">Kryterium sukcesu 2.4.10 Nagłówki sekcji – Poziom AAA</h3>
                <p>
                    Używaj nagłówków do organizowania treści i oznaczania sekcji* na stronie.
                </p>
                <p>
                    Nagłówki pozwalają łatwiej nawigować po stronie. W sposób widoczny oznaczają zmianę tematu oraz wprowadzają w powiązaną treść.
                </p>
                <p>
                    Dzięki nagłówkom czytelnik może wcześniej zobaczyć, czego będzie dotyczył tekst i czy chce go przeczytać.
                </p>
                <p>
                    *Sekcje &lt;section&gt; dzielą treści na mniejsze, logicznie powiązane bloki.
                </p>
                <div>
                    <h1 style="padding-top: 0; margin-top: 0;">Główny nagłówek treści</h1>
                    <section>
                        <h2>Mniej ważny blok treści 1</h2>
                        <p>Treść powiązana z głównym nagłówkiem i blokiem treści 1.</p>
                    </section>
                    <section>
                        <h2>Mniej ważny blok treści 2</h2>
                        <p>Treść powiązana z głównym nagłówkiem i blokiem treści 2.</p>
                    </section>
                </div>
                <pre>
                    <code>
    &lt;h1&gt;Główny nagłówek treści&lt;/h1&gt;
&lt;section&gt;
    &lt;h2&gt;Mniej ważny blok treści 1&lt;/h2&gt;
    &lt;p&gt;Treść powiązana z głównym nagłówkiem i blokiem treści 1.&lt;/p&gt;
&lt;/section&gt;
&lt;section&gt;
    &lt;h2&gt;Mniej ważny blok treści2&lt;/h2&gt;
    &lt;p&gt;Treść powiązana z głównym nagłówkiem i blokiem treści 2.&lt;/p&gt;
&lt;/section&gt;
                    </code>
                </pre>
            </section>
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}