{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    2.4 Możliwość nawigacji
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 2.4 Możliwość nawigacji</h1>
            <p class="txt-format-main">
                Zapewnij użytkownikowi narzędzia pomagające w nawigacji, znalezieniu treści i określeniu, gdzie się aktualnie znajduje.
            </p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#2_4_1">Kryterium sukcesu 2.4.1 Możliwość pominięcia bloków (Poziom A)</a></li>
                    <li><a href="#2_4_2">Kryterium sukcesu 2.4.2 Tytuły stron (Poziom A)</a></li>
                    <li><a href="#2_4_3">Kryterium sukcesu 2.4.3 Kolejność fokusu (Poziom A)</a></li>
                    <li><a href="#2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście) (Poziom A)</a></li>
                    <li><a href="#2_4_5">Kryterium sukcesu 2.4.5 Wiele dróg (Poziom AA)</a></li>
                    <li><a href="#2_4_6">Kryterium sukcesu 2.4.6 Nagłówki i etykiety (Poziom AA)</a></li>
                    <li><a href="#2_4_7">Kryterium sukcesu 2.4.7 Widoczny fokus (Poziom AA)</a></li>
                    <li><a href="#2_4_8">Kryterium sukcesu 2.4.8 Lokalizacja (Poziom AAA)</a></li>
                    <li><a href="#2_4_9">Kryterium sukcesu 2.4.9 Cel łącza (z samego łącza) (Poziom AAA)</a></li>
                    <li><a href="#2_4_10">Kryterium sukcesu 2.4.10 Nagłówki sekcji (Poziom AAA)</a></li>
                </ul>
            </div>
            <div>
                <h3 id="2_4_1">Kryterium sukcesu 2.4.1 Możliwość pominięcia bloków (Poziom A)</h3>
                <p class="txt-format">
                    Kiedy na Twojej stronie bloki treści na podstronach powtarzają się, pozwól użytkownikowi je pominąć.
                </p>
                <p class="txt-format">
                    Część treści na stronach internetowych zazwyczaj się powtarza, takie jak menu główne czy sekcje z reklamami.
                </p>
                <p class="txt-format">
                    Użytkownik, który nie ma niepełnosprawności może pominąć takie informacje wzrokiem. Osoby niepełnosprawne mogą mieć jednak kłopot z pomijaniem
                    bloków powtarzającej się treści.
                </p>
                <p class="txt-format">
                    Przykładowo, osoby niewidzące, które korzystają z technologii asystujących i użytkownicy używający tylko klawiatury, aby przejść do najważniejszej treści,
                    musieliby przebić się przez wiele linków.<br/>
                    Rozwiązanie w postaci linku prowadzącego do głównej treści strony jest bardzo pomocne.<br/>
                    <img src="{{ asset('img/2_4_1.jpg') }}" /><br/>
                    <b>Działanie linku możesz zobaczyć:</b>
                    <ol>
                        <li>Kliknij myszą na samej górze strony,</li>
                        <li>Wciśnij klawisz Tab,</li>
                        <li>Wciśnij kombinację klawiszy 'Shift + 'Tab',</li>
                        <li>Po otrzymaniu fokusu na widocznym linku wciśnij klawisz 'Enter'.</li>
                    </ol>
                </p>
            </div>
            <div>
                <h3 id="2_4_2">Kryterium sukcesu 2.4.2 Tytuły stron (Poziom A)</h3>
                <p class="txt-format">
                    Strony internetowe powinny zawierać niepowtarzające się tytuły, które opisują temat lub cel strony.<br/>
                    <img src="{{ asset('img/2_4_2.jpg') }}" /><br/>
                    <code>
                        &lt;title&gt;2.4 Możliwość nawigacji&lt;/title&gt;
                    </code>
                </p>
                <p class="txt-format">
                    Dzięki tytułom użytkownik nie będzie musiał wnioskować z treści, co zawiera odwiedzana strona.
                    Przez to użytkownik może łatwo zorientować się, którą stronę powinien otworzyć.
                </p>
                <p class="txt-format">
                    Pomaga to np. osobom, które mają problem z pamięcią lub czytaniem. Kiedy są zagubieni, mogą szybko dostać się do treści po jej tytule.
                </p>
                <p class="txt-format">
                    Technologie asystujące czytają użytkownikom tytuły strony. Takie osoby mogą zdecydować, czy otwarta strona zawiera treść, której szukają.
                </p>
            </div>
            <div>
                <h3 id="2_4_3">Kryterium sukcesu 2.4.3 Kolejność fokusu (Poziom A)</h3>
                <p class="txt-format">
                    Kiedy Twoja strona może być nawigowana klawiaturą w określonej kolejności, a to wpływa na jej zrozumienie lub
                    funkcjonalność, musisz ustalić odpowiednią kolejność fokusu na stronie.
                </p>
                <p class="txt-format">
                    Kolejność możesz narzucić przez użycie atrybutu tabindex w znaczniku HTML.
                </p>
                <p class="txt-format">
                    Pozwala to użytkownikom, którzy korzystają z klawiatury lub innego interfejsu, na zapoznanie się z treścią
                    w logicznej kolejności, często ustalonej przez twórcę, czyli Ciebie.<br/>
                    Nie zawsze trzeba ją ustawiać, jednak warto przetestować stronę i zobaczyć, czy nawigacja jest zrozumiała i odpowiada naszej wizji.
                </p>
                <p class="txt-format">
                    Odpowiednia kolejność nie zdezorientuje odbiorcy, który nie przewidział niestandardowego układu treści na stronie.
                    Nie sprawi także, że użytkownik będzie korzystał ze strony w sposób nieprzewidziany.<br/>
                    Niewidomi użytkownicy natomiast mogą wyobrazić sobie stronę jako przewidywalną całość.
                </p>
                <p>
                    <a href="{{ url('_2_4_3_example') }}" style="color: blue;">Przykład</a><br/>
                </p>
            </div>
            <div>
                <h3 id="2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście) (Poziom A)</h3>
                <p class="txt-format">
                    Cel linków ma wynikać z ich treści lub z kontekstu, w którym są umieszczone.<br/>
                    Nie uwzględnia to łączy, które i tak byłyby niezrozumiałe lub mają być tajemnicą dla odbiorcy, dopóki nie zostaną załadowane.
                </p>
                <p class="txt-format">
                    Odpowiedni opis linków pozwoli na zorientowanie się, dokąd prowadzi link.
                    Użytkownicy, którzy korzystają z czytników treści, mogą też zdecydować, czy chcą odwiedzić link, czy go pominąć.
                </p>
                <p class="txt-format">
                    Linki mogą zostać umieszczone w kontekście (blok tekstu, element listy, komórka w tabeli).
                    Jeśli jest to tekst, link powinien znajdować się na końcu treści.
                </p>
                <p class="txt-format">
                    Kiedy link prowadzi do aplikacji lub dokumentu, wystarczy, że link opiszesz nazwą tej aplikacji lub dokumentu.
                </p>
                <p class="txt-format">
                    Warto łączyć tytuły stron z linkami, które do nich prowadzą.
                    Kiedy na stronie dodajesz link prowadzący do dokumentu, obie treści powinny być powiązane.
                    To sprawi, że zachowasz ciągłość przy nawigacji między zawartością podstron.
                </p>
                <p>
                    Przykładowo:<br/>
                    W jednym z kryteriów dla wytycznej <i>2.3 Ataki padaczki</i>, użytkownik powinien mieć możliwość
                    <a style="color: blue;" href="{{ url('epilepsy_index') }}#2_3_3">wyłączenia animacji dla elementów interaktywnych.</a>
                </p>
            </div>
            <div>
                <h3 id="2_4_5">Kryterium sukcesu 2.4.5 Wiele dróg (Poziom AA)</h3>
                <p class="txt-format">
                    Istnieje wiele dróg, aby dostać się do strony w serwisie internetowym lub aplikacji. Nie dotyczy to sytuacji, kiedy strona jest
                    wynikiem procedury lub jednym z jej etapów.<br/>
                    <img src="{{ asset('img/rozne_miejsca.jpg') }}" style="width: 300px; height: auto;" />
                </p>
                <p class="txt-format">
                    Jeśli zaprojektujesz serwis w powyższy sposób, użytkownicy mogą korzystać z treści według własnych potrzeb.
                    Użytkownik może korzystać z różnych narzędzi i sposobów przeglądania, takich jak:
                <ul>
                    <li>wyszukiwarka treści na stronie,</li>
                    <li>mapa serwisu, która umożliwia przegląd treści,</li>
                    <li>przeglądanie podstron w celu zrozumienia budowy serwisu.</li>
                </ul>
                <img src="{{ asset('img/searchbar.jpg') }}" style="width: 250px; height: auto;" />
                </p>
                <p class="txt-format">
                    Musisz pamiętać, że część zawartości nie będzie ogólnodostępna. Żaden link na stronie nie będzie do niej prowadził. Może być to np.:
                <ul>
                    <li>podsumowanie zamówienia w sklepie internetowym,</li>
                    <li>potwierdzenie transakcji w aplikacji banku.</li>
                </ul>
                </p>
            </div>
            <div>
                <h3 id="2_4_6">Kryterium sukcesu 2.4.6 Nagłówki i etykiety (Poziom AA)</h3>
                <p class="txt-format">
                    Wszelkie nagłówki i etykiety na stronie muszą opisywać wyświetlaną zawartość. Do opisu najlepiej używać pojedynczych słów lub krótkich opisów.
                </p>
                <p class="txt-format">
                    <pre>
                    <code>
                        &lt;h1&gt;Nowy plac zabaw&lt;/h1&gt;
                        &lt;p&gt;W dniu 21 kwietnia odbędzie się oficjalne otwarcie nowego placu zabaw.&lt;/p&gt;
                        &lt;h3&gt;Atrakcje&lt;/h3&gt;
                        &lt;p&gt;Podczas uroczystości wystąpią młode talenty z pobliskich szkół.&lt;/p&gt;
                    </code>
                    </pre>
                </p>
                <p class="txt-format">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                <pre>
                    <code>
                        &lt;label for="email"&gt;Email&lt;/label&gt;
                        &lt;input type="email" name="email" id="email"/&gt;
                    </code>
                    </pre>
                </p>
                <p class="txt-format">
                    Pozwala to zrozumieć, co zawiera strona i jak została ułożona treść.<br/>
                    Dzięki zrozumiałym oznaczeniom treści, szukaną zawartość jest znacznie łatwiej zlokalizować.
                </p>
            </div>
            <div>
                <h3 id="2_4_7">Kryterium sukcesu 2.4.7 Widoczny fokus (Poziom AA)</h3>
                <p class="txt-format">
                    Kiedy strona jest obsługiwana przy użyciu klawiatury, jej fokus (skupienie) musi być zawsze widoczny dla użytkownika.
                </p>
                <p class="txt-format">
                    Widoczny fokus na stronie pozwala zorientować się, w którym miejscu na stronie i na którym elemencie skupiona jest klawiatura.<br/>
                    Skupienie na elemencie pozwala również zrozumieć jego funkcje, np. przy
                    podświetleniu pola formularza widzimy, że można wprowadzić tekst.
                </p>
                <img src="{{ asset('img/2_4_7.jpg') }}">
            </div>
            <div>
                <h3 id="2_4_8">Kryterium sukcesu 2.4.8 Lokalizacja (Poziom AAA)</h3>
                <p class="txt-format">
                    Musisz dostarczyć użytkownikowi informacje, gdzie obecnie znajduje się na stronie.
                </p>
                <p class="txt-format">
                    Użytkownik będzie wiedział, gdzie się znajduje i jest mniej prawdopodobne, że zgubi się na stronie.
                    Kiedy widzi, którą podstronę obecnie przegląda, będzie mu łatwiej wyszukiwać powiązane informacje: może m.in. cofać się do poprzedniej podstrony,
                    jeśli obecne wyniki go niesatysfakcjonują.
                </p>
                <p class="txt-format">
                    Zalety lokalizowania użytkownika są bardziej widoczne, kiedy znajdujemy się na rozbudowanej stronie z wieloma podstronami.<br/>
                    Ta funkcjonalność pomaga znacznie osobom z deficytem uwagi. Bez pomocy mogą poczuć się zdezorientowane, kiedy przez długi czas korzystają z
                    rozbudowanej strony.
                </p>
                <p class="txt-format">
                    Jednym ze sposobów na pokazanie obecnej lokalizacji na stronie jest menu okruszkowe. Pokazuje ono ścieżkę odwiedzanych stron.<br/>
                    Standardem jest także możliwość powrotu do strony głównej po kliknięciu ikony, która jest zazwyczaj widoczna na górze strony.<br/><br/>
                    <img src="{{ asset('img/breadcrumb.jpg') }}" style="width: 250px; height: auto;" />
                </p>
            </div>
            <div>
                <h3 id="2_4_9">Kryterium sukcesu 2.4.9 Cel łącza (z samego łącza) (Poziom AAA)</h3>
                <p class="txt-format">
                    Cel łączy na stronie musi być zrozumiały od razu z opisu łącza, a nie z jego kontekstu.
                    Nawet jeśli cel łącza wynika z kontekstu, musisz dołączyć jego opis.<br/>
                    Nie uwzględnia to łącz, które i tak byłyby niezrozumiałe lub mają być tajemnicą dla odbiorcy, dopóki nie zostaną załadowane.
                </p>
                <p class="txt-format">
                    Jest to kryterium podobne do <a style="color: blue;" href="#2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście) (Poziom A)</a>. Różnica jest taka, że
                    cel łącza musi wynikać z jego treści, a nie z kontekstu, w którym się znajduje.
                </p>
                <p class="txt-format">
                    Najlepiej, aby linki, które prowadzą do tej samej treści miały ten sam opis.
                    Natomiast łącza, które wskazują na inną treść, dla odróżnienia zawierały inny opis.
                </p>
                <p>
                    Przykładowo:<br/>
                    <a style="color: blue;" href="{{ url('epilepsy_index') }}#2_3_3">Kryterium sukcesu 2.3.3 Animacja po interakcji</a>
                    pozwala użytkownikowi na wyłączenie animacji elementów interaktywnych.
                </p>
            </div>
            <div>
                <h3 id="2_4_10">Kryterium sukcesu 2.4.10 Nagłówki sekcji (Poziom AAA)</h3>
                <p class="txt-format">
                    Nagłówki są używane do porządkowania treści i oznaczają podziały na sekcje.<br/><br/>
                </p>
                <p class="txt-format">
                    Porządkuj treść w taki sposób, aby była podzielona na zrozumiałe bloki - sekcje.<br/>
                    Nagłówki pozwalają na łatwiejszą organizację treści i nawigację. W sposób widoczny oznaczają zmiany tematu oraz streszczają treść, aby czytelnik
                    wiedział, czego będzie dotyczył segment tekstu.
                </p>
                <p class="txt-format">
                    Korzystanie z nagłówków pozwala także użytkownikom na przeskakiwanie po nagłówkach, bez potrzeby czytania powiązanego tekstu.
                </p>
                <p>
                <h1>Najważniejsza część</h1>
                <section>Treść powiązana z nagłówkiem &lt;h1&gt;.</section>
                <h2>Mniej ważna część</h2>
                <section>
                    Treść powiązana z nagłówkiem &lt;h2&gt;.
                        <h3>Jeszcze mniej ważna część</h3>
                        <section>Treść powiązana z nagłówkiem &lt;h3&gt;.</section>
                </section>
                </p>
                <pre>
                    <code>
                        &lt;h1&gt;Najważniejsza część&lt;/h1&gt;
                        &lt;section&gt;Treść powiązana z nagłówkiem &lt;h1&gt;.&lt;/section&gt;
                        &lt;h2&gt;Mniej ważna część&lt;/h2&gt;
                        &lt;section&gt;
                            Treść powiązana z nagłówkiem &lt;h2&gt;.
                            &lt;h3&gt;Jeszcze mniej ważna część&lt;/h3&gt;
                            &lt;section&gt;Treść powiązana z nagłówkiem &lt;h3&gt;.&lt;/section&gt;
                        &lt;/section&gt;
                    </code>
                </pre>
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}