{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    2.5 Metody obsługi
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 2.5 Metody obsługi</h1>
            <p class="txt-format-main">
                Ułatwiaj użytkownikom obsługę funkcji za pomocą różnych sposobów poza klawiaturą.
            </p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#2_5_1">Kryterium sukcesu 2.5.1 Gesty dotykowe (Poziom A)</a></li>
                    <li><a href="#2_5_2">Kryterium sukcesu 2.5.2 Rezygnacja ze wskazania (Poziom A)</a></li>
                    <li><a href="#2_5_3">Kryterium sukcesu 2.5.3 Etykieta w nazwie (Poziom A)</a></li>
                    <li><a href="#2_5_4">Kryterium sukcesu 2.5.4 Aktywowanie ruchem (Poziom A)</a></li>
                    <li><a href="#2_5_5">Kryterium sukcesu 2.5.5 Rozmiar celu dotykowego (Poziom AAA)</a></li>
                    <li><a href="#2_5_6">Kryterium sukcesu 2.5.6 Równoległy mechanizm wprowadzania danych (Poziom AAA)</a></li>
                </ul>
            </div>
            <div>
                <h3 id="2_5_1">Kryterium sukcesu 2.5.1 Gesty dotykowe (Poziom A)</h3>
                <p class="txt-format">
                    Wszystkie operacje na stronie, które są obsługiwane przez gesty wielopunktowe lub oparte na ścieżce, muszą być również obsługiwane przez gesty jednopunktowe.
                    Wyjątkiem są elementy, których obsługa przy użyciu gestów wielopunktowych lub opartych na ścieżce jest kluczowa (np. wprowadzanie podpisu).
                </p>
                <p class="txt-format">
                    Ważne, aby zawartość na Twojej stronie mogła być obsługiwana przy użyciu <strong>gestów jednopunktowych</strong>. Są to gesty, w których ważny
                    jest początek i koniec gestu, czyli przykładowo przeciąganie elementu z jednego miejsca w drugie i dwukrotne naciśnięcie palcem.
                </p>
                <p class="txt-format">
                    Dla porównania, gesty oparte na ścieżce opierają się na ciągłości ruchu (gest przesuwania), a
                    wielopunktowe na jednoczesnym wciśnięciu kilku punktów (gest powiększania przez "uszczypnięcie" ekranu dwoma palcami).
                </p>
                <p class="txt-format">
                    Gesty jednopunktowe poszerzają zakres obsługiwanych urządzeń i technologii, np.:
                <ul>
                    <li>wskaźniki ekranu przyczepiane do głowy użytkownika,</li>
                    <li>system do nawigacji wzrokiem,</li>
                    <li>obsługa mową.</li>
                </ul>
                Użytkownicy mają różne umiejętności i możliwości obsługi urządzeń. Część z nich nie może wykonywać bardziej skomplikowanych lub precyzyjnych ruchów
                i preferuje nawigację przez klikanie, a nie np. przeciąganie palcem.
                </p>
                <p>
                    Gesty jednopunktowe:<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/2_5_1_jedno.mp4') }}" type="video/mp4">
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video><br/>
                    Źródło grafik: Mapy Google<br/><br/>
                    Gesty wielopunktowe:<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/2_5_1_wielo.mp4') }}" type="video/mp4">
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video><br/>
                    Źródło grafik: Mapy Google
                </p>
            </div>
            <div>
                <h3 id="2_5_2">Kryterium sukcesu 2.5.2 Rezygnacja ze wskazania (Poziom A)</h3>
                <p class="txt-format">
                    Kiedy zawartość na stronie jest wywoływana przez dotyk jednopunktowy, taki sposób interakcji musi spełniać kilka kryteriów:
                <ul>
                    <li>Naciśnięcie obiektu nie wywołuje żadnego zdarzenia. Wywołanie związane jest jedynie ze zwolnieniem nacisku;</li>
                    <li>
                        Aktywacja obiektu zależy od zwolnienia nacisku i w każdym momencie można cofnąć lub przerwać zadanie przez zwolnienie nacisku.
                        Możesz to zrobić przez przesunięcie palcem z pola aktywacji obiektu na nieznaczące tło i dopiero wtedy zwolnić nacisk z ekranu;
                    </li>
                    <li>Przy zwolnieniu nacisku zdarzenie zostaje cofnięte do domyślnego stanu. Przykładem jest menu, które aktywuje się przy naciśnięciu, a po
                        zwolnieniu nacisku znika;</li>
                    <li>
                        Naciśnięcie jest niezbędne do wywołania zdarzenia. Ważne jest to w emulatorach klawiatury i w aplikacjach takich jak symulacja klawiszy
                        pianina. Taki sposób działania jest naturalnym zachowaniem wymienionych narzędzi, a nadpisanie działania mogłoby stać się nieintuicyjne.
                    </li>
                </ul>
                </p>
                <p class="txt-format">
                    Przez taką obsługę gestów sprawisz, że użytkownik będzie popełniał mniej błędów przy korzystaniu z różnych urządzeń, np. opartych na
                    ekranie dotykowym. Dasz mu możliwość zrezygnowania z akcji, kiedy naciśnie zły przycisk.
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/2_5_2.mp4') }}" type="video/mp4">
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video><br/>
                </p>
            </div>
            <div>
                <h3 id="2_5_3">Kryterium sukcesu 2.5.3 Etykieta w nazwie (Poziom A)</h3>
                <p class="txt-format">
                    Kiedy komponent interfejsu użytkownika ma widoczną tekstową etykietę (często label),
                    zachowaj spójność między nią a nazwą komponentu (odczytywaną przez technologie).<br/>
                    Najlepszą praktyką jest opisanie tak samo etykiety i nazwy komponentu.<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/2_5_3.mp4') }}" type="video/mp4">
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video><br/>
                </p>
                <p class="txt-format">
                    <label>Email<input type="email" name="email"/></label>
                    <pre>
                        <code>
                            &lt;label&gt;Email&lt;input type="email" name="email"/&gt;&lt;/label&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    <button type="button" aria-label="Kup produkt">Kup</button>
                    <pre>
                        <code>
                            &lt;button type="button" aria-label="Kup produkt"&gt;Kup&lt;/button&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    Dzięki podobnemu nazewnictwu, użytkownicy widzący i niewidzący będą rozumieli komponenty interfejsu w ten sam sposób.
                </p>
                <p class="txt-format">
                    Użytkownicy, którzy korzystają ze sterowania głosem, mogą wywoływać opisane słownie komponenty, takie jak menu, przyciski, linki.
                </p>
                <p class="txt-format">
                    Natomiast dla użytkowników, którzy widzą i używają czytnika tekstu,
                    czytana przez oprogramowanie nazwa obiektu, będzie odpowiadała widocznemu opisowi.
                </p>
                <p class="txt-format">
                    <strong>WAŻNE</strong><br/>
                    Komponenty, które nie zawierają opisu wizualnego, nie muszą go posiadać.
                    Wystarczy, żeby były nazwane dla oprogramowania, np. przez nadanie atrybutu name.
                </p>
            </div>
            <div>
                <h3 id="2_5_4">Kryterium sukcesu 2.5.4 Aktywowanie ruchem (Poziom A)</h3>
                <p class="txt-format">
                    Funkcjonalności strony nie mogą polegać tylko na użyciu gestów. Musisz dostarczyć alternatywę dla takiego sposobu sterowania przez dodanie
                    komponentów interfejsu, które mają tę samą funkcję co gesty. Dodatkowo obsługa gestami może zostać całkowicie wyłączona.<br/>
                    Wyjątkiem są gesty, które są obsługiwane również przez technologie asystujące i gesty kluczowe dla działania Funkcjonalności (np. krokomierz).<br/>
                    <img style="width: 300px; height: auto;" src="{{ asset('img/2_5_4a.jpg') }}" />
                </p>
                <p class="txt-format">
                    Urządzenia zawierają różne czujniki (np. żyroskop, akcelerometr), które dodają funkcjonalności:
                <ul>
                    <li>obracanie ekranu przez przechylenie do orientacji pionowej lub poziomej;</li>
                    <li>anulowanie operacji przez potrząśnięcie;</li>
                    <li>przesunięcie po ekranie kilkoma palcami, aby wykonać zrzut ekranu.</li>
                </ul>
                <img style="width: 250px; height: auto;" src="{{ asset('img/2_5_4b.jpg') }}" />
                </p>
                <p class="txt-format">
                    Część osób nie może wykonać takich gestów lub robi to z trudnością. Niektórzy mogą także przypadkowo aktywować funkcjonalność, np.
                    przez niekontrolowane drżenie rąk.
                </p>
            </div>
            <div>
                <h3 id="2_5_5">Kryterium sukcesu 2.5.5 Rozmiar celu dotykowego (Poziom AAA)</h3>
                <p class="txt-format">
                    Rozmiar celu dotykowego musi wynosić minimum 44px x 44px. <strong>Cel dotykowy</strong> to obszar na stronie, który reaguje na akcję
                    ze strony użytkownika, np. kliknięcie.
                    Nie jest to jednak wymagane, gdy:
                <ul>
                    <li>Inny element na tej stronie także wynosi minimum 44px x 44px i pełni tę samą funkcję;</li>
                    <li>Element znajduje się w środku tekstu lub jest jego częścią (np. link w tekście);</li>
                    <li>Autor nie może zmodyfikować elementu, ponieważ jest ustalany przez przeglądarkę;</li>
                    <li>Taki sposób prezentacji jest ważny, a zmiany mogą spowodować zmianę funkcjonalności lub prezentowanej treści.</li>
                </ul>
                </p>
                <p class="txt-format">
                    Minimalny rozmiar przycisku:<br/>
                    <input type="button" style="width: 44px; height: 44px;"/>
                </p>
                <p class="txt-format">
                    Kryterium narzuca, aby obszar dotykowy był na tyle duży, aby każdy użytkownik mógł bezproblemowo kliknąć obiekt.
                    Dobrze zrobione obszary pozwalają na obsługę przy użyciu różnych urządzeń.
                </p>
            </div>
            <div>
                <h3 id="2_5_6">Kryterium sukcesu 2.5.6 Równoległy mechanizm wprowadzania danych (Poziom AAA)</h3>
                <p class="txt-format">
                    Strona internetowa nie może ograniczać użytkownika w doborze wykorzystatywanych urządzeń i technologii. Użytkownik musi mieć możliwość
                    wyboru, jakich technologi użyje do nawigacji. Może je także bezproblemowo zamieniać w dowolnym momencie. Są to m.in.:
                <ul>
                    <li>klawiatura,</li>
                    <li>mysz,</li>
                    <li>wskaźnik ekranu,</li>
                    <li>nawigacja głosowa,</li>
                    <li>urządzenie mobilne.</li>
                </ul>
                </p>
                <p class="txt-format">
                    Wyjątkiem są sytuacje, kiedy ograniczenie obsługiwanych technologii jest istotne (np. aplikacja do nauki szybkiego pisania na klawiaturze),
                    pozwala na ochronę treści lub respektuje ustawienia użytkownika.
                </p>
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}