{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    4.1 Kompatybilność
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 4.1 Kompatybilność</h1>
            <section>
                <p>
                    Twórz treści solidnie, aby mogły być skutecznie interpretowane przez różne programy użytkownika, w tym technologie wspomagające.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#4_1_1">Kryterium sukcesu 4.1.1 Poprawność kodu – Poziom A</a></li>
                        <li><a href="#4_1_2">Kryterium sukcesu 4.1.2 Nazwa, rola, wartość – Poziom A</a></li>
                        <li><a href="#4_1_3">Kryterium sukcesu 4.1.3 Komunikaty o stanie – Poziom AA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="4_1_1">Kryterium sukcesu 4.1.1 Poprawność kodu – Poziom A</h3>
                <p class="list-glue">
                    Dla języka znaczników (np. HTML):
                </p>
                    <ul>
                        <li>elementy posiadają znaczniki początkowe i końcowe, jeśli nie są znacznikami samozamykającymi się (np. &lt;br/&gt; );</li>
                        <li>elementy są zagnieżdżone według swojej specyfikacji;</li>
                        <li>znaczniki nie posiadają zduplikowanych atrybutów;</li>
                        <li>wszystkie ID są unikalne.</li>
                    </ul>
                <img src="{{ asset('img/4_1_1.jpg') }}" alt="Przykładowa hierarchia nagłówków od h1 do h2" class="img-resp"/><br/><br/>
                <pre>
                    <code>
&lt;button&gt;&lt;/button&gt;<br/>
&lt;div&gt;&lt;/div&gt;<br/>
&lt;span&gt;&lt;/span&gt;<br/>
&lt;i&gt;&lt;/i&gt;
                    </code>
                </pre>
                <p>
                    Kiedy zadbasz o poprawność kodu, unikniesz błędów związanych z nieprawidłowym wyświetlaniem strony.
                </p>
                <p class="list-glue">
                    Technologie asystujące, takie jak czytniki ekranu, prezentują użytkownikowi stronę przez odczytanie jej struktury.
                    Jeśli strona nie jest odpowiednio zbudowana, np. zawiera:
                </p>
                    <ul>
                        <li>niedomknięte znaczniki,</li>
                        <li>błędnie zagnieżdżone elementy,</li>
                    </ul>
                <p>
                    czytnik nie będzie mógł poprawnie przekazać informacji o stronie.
                </p>
            </section>
            <section>
                <h3 id="4_1_2">Kryterium sukcesu 4.1.2 Nazwa, rola, wartość – Poziom A</h3>
                <p class="list-glue">
                    Część elementów interfejsu użytkownika nie jest zgodna ze standardem języka znaczników. Są to m.in.:
                </p>
                    <ul>
                        <li>znaczniki wykorzystane w niestandardowy sposób;</li>
                        <li>elementy oskryptowane przez twórcę strony.</li>
                    </ul>
                <p class="list-glue">
                    Technologie asystujące poprawnie odczytają informacje o takich elementach, kiedy elementy te zawierają dodatkowe parametry.
                    Dodaje je twórca strony. Są to:
{#                TODO: tu jest o WAI-ARIA -> zalinkować stronę lub zrobić podstronę w serwisie #}
                </p>
                    <ul>
                        <li>nazwa komponentu,</li>
                        <li>rola komponentu,</li>
                        <li>stany, właściwości i wartości komponentu,</li>
                        <li>powiadomienia o zmianach komponentu.</li>
                    </ul>
                    <video controls>
                        <source src="{{ asset('img/4_1_2a.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
&lt;input type="text" /&gt;<br/>

&lt;label for="imie">Imię&lt;/label&gt;
&lt;input type="text" id="imie"/&gt;
                        </code>
                    </pre>
                    <video controls>
                        <source src="{{ asset('img/4_1_2b.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
&lt;a href="#"&gt;Przejdź do menu&lt;/a&gt;<br/>
&lt;a href="#" role="button"&gt;Przejdź do menu&lt;/a&gt;
                        </code>
                    </pre>
                    <video controls>
                        <source src="{{ asset('img/4_1_2c.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
&lt;button>&lt;/button&gt;<br/>
&lt;button aria-label="Zresetuj"&gt;&lt;/button&gt;
                        </code>
                    </pre>
            </section>
            <section>
                <h3 id="4_1_3">Kryterium sukcesu 4.1.3 Komunikaty o stanie – Poziom AA</h3>
                <p>
                    Komunikaty o stanie, które pojawiają się na stronie, nie mogą wymuszać fokusu.
                    Jest to możliwe przez nadanie pojawiającemu się komunikatowi <b>roli</b>.
                </p>
                <p class="list-glue">
                    Komunikat o stanie:
                </p>
                    <ul>
                        <li>informuje o pomyślnie wykonanej czynności lub jej wyniku;</li>
                        <li>powiadamia o oczekiwaniu na rezultat, postępie lub błędach;</li>
                        <li>nie zmienia kontekstu na stronie, czyli m.in. nie zmienia fokusu na inny obiekt.</li>
                    </ul>
                <p class="list-glue">
                    Komunikatem o stanie jest:
                </p>
                    <ul>
                        <li>status wyniku wyszukiwania: „Znaleziono X elementów”;</li>
                        <li>powiadomienie o dodaniu produktu do koszyka;</li>
                        <li>informacja o poprawnym lub błędnym wysłaniu formularza.</li>
                    </ul>
                <p>
                    Kiedy komunikat nie uzyska automatycznego fokusu, użytkownik nie musi zatrzymywać pracy, aby go wyłączyć.
                </p>
                <p>
                    <strong>WAŻNE</strong><br/>
                    Jeśli komunikat o stanie nie jest odpowiednio oznaczony, nie zostanie odczytany przez technologie asystujące.
                    Osoby, które nie widzą, nie będą wiedziały o istnieniu takiego komunikatu.
                </p>
                <p>
                    Wiadomość bez powiadomienia użytkownika:<br/>
                    <video controls>
                        <source src="{{ asset('img/4_1_3_noalert.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                </p>
                    <pre>
                        <code>
&lt;div&gt;
    Utworzono Opinię. Czekaj na zatwierdzenie przez administratora.
&lt;/div&gt;
                        </code>
                    </pre>
                <p>
                    Wiadomość z powiadomieniem użytkownika:<br/>
                    <video controls>
                        <source src="{{ asset('img/4_1_3_alert.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                </p>
                    <pre>
                        <code>
&lt;div role="alert"&gt;
    Utworzono Opinię. Czekaj na zatwierdzenie przez administratora.
&lt;/div&gt;
                        </code>
                    </pre>
                <p>
                    Wiadomość nie uzyskuje fokusu:<br/>
                    <video controls>
                        <source src="{{ asset('img/4_1_3_fokus.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                </p>
            </section>
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}