{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    4.1 Kompatybilność
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
        <div style="margin-left: 15em;">
            <h1>Wytyczna 4.1 Kompatybilność</h1>
            <p class="txt-format-main">
                Twórz treści solidnie, aby mogły być skutecznie interpretowane przez różne programy użytkownika, w tym technologie wspomagające.
            </p>
            <div id="table-of-content">
                <h2>Spis treści</h2>
                <ul>
                    <li><a href="#4_1_1">Kryterium sukcesu 4.1.1 Poprawność kodu (Poziom A)</a></li>
                    <li><a href="#4_1_2">Kryterium sukcesu 4.1.2 Nazwa, rola, wartość (Poziom A)</a></li>
                    <li><a href="#4_1_3">Kryterium sukcesu 4.1.3 Komunikaty o stanie (Poziom AA)</a></li>
                </ul>
            </div>
            <div>
                <h3 id="4_1_1">Kryterium sukcesu 4.1.1 Poprawność kodu (Poziom A)</h3>
                <p class="txt-format">
                    Dla języka znaczników (np. HTML):
                <ul>
                    <li>elementy posiadają znaczniki początkowe i końcowe, jeśli nie są znacznikami samozamykającymi się (np. &lt;br/&gt; );</li>
                    <li>elementy są zagnieżdżone według swojej specyfikacji;</li>
                    <li>znaczniki nie posiadają zduplikowanych atrybutów;</li>
                    <li>wszystkie ID są unikalne.</li>
                </ul><br/>
                <img src="{{ asset('img/4_1_1.jpg') }}" style="width: 500px; height: auto;"/><br/><br/>
                <pre>
                    <code>
                        &lt;button&gt;&lt;/button&gt;<br/>
                        &lt;div&gt;&lt;/div&gt;<br/>
                        &lt;span&gt;&lt;/span&gt;<br/>
                        &lt;i&gt;&lt;/i&gt;
                    </code>
                </pre>
                </p>
                <p class="txt-format">
                    Kiedy zadbasz o poprawność kodu, unikniesz błędów związanych z nieprawidłowym wyświetlaniem strony.
                </p>
                <p class="txt-format">
                    Technologie asystujące, takie jak czytniki ekranu, prezentują użytkownikowi stronę przez odczytanie jej struktury.
                    Jeśli strona nie jest odpowiednio zbudowana, np. zawiera:
                    <ul>
                        <li>niedomknięte znaczniki,</li>
                        <li>błędnie zagnieżdżone elementy,</li>
                    </ul>
                    czytnik nie będzie mógł poprawnie przekazać informacji o stronie.
                </p>
            </div>
            <div>
                <h3 id="4_1_2">Kryterium sukcesu 4.1.2 Nazwa, rola, wartość (Poziom A)</h3>
                <p class="txt-format">
                    Część elementów interfejsu użytkownika nie jest zgodna ze standardem języka znaczników. Są to m.in.:
                    <ul>
                        <li>znaczniki wykorzystane w niestandardowy sposób;</li>
                        <li>elementy oskryptowane przez twórcę strony.</li>
                    </ul>
                </p>
                <p class="txt-format">
                    Technologie asystujące prawidłowo odczytają informacje o takich elementach, kiedy zawierają one dodatkowe parametry.
                    Dodaje je twórca strony. Są to:
{#                TODO: tu jest o WAI-ARIA -> zalinkować stronę lub zrobić podstronę w serwisie #}
                    <ul>
                        <li>nazwa komponentu,</li>
                        <li>rola komponentu,</li>
                        <li>stany, właściwości i wartości komponentu,</li>
                        <li>powiadomienia o zmianach komponentu.</li>
                    </ul>
                </p>
                <p class="txt-format">
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_2a.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
                            &lt;input type="text" /&gt;<br/>

                            &lt;label for="imie">Imię&lt;/label&gt;
                            &lt;input type="text" id="imie"/&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_2b.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
                            &lt;a href="#"&gt;Przejdź do menu&lt;/a&gt;<br/>
                            &lt;a href="#" role="button"&gt;Przejdź do menu&lt;/a&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_2c.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
                            &lt;button>&lt;/button&gt;<br/>
                            &lt;button aria-label="Zresetuj"&gt;&lt;/button&gt;
                        </code>
                    </pre>
                </p>
            </div>
            <div>
                <h3 id="4_1_3">Kryterium sukcesu 4.1.3 Komunikaty o stanie (Poziom AA)</h3>
                <p class="txt-format">
                    Komunikaty o stanie, które pojawiają się na stronie, nie mogą wymuszać fokusu.
                    Jest to możliwe przez nadanie pojawiającemu się komunikatowi <b>roli</b>.
                </p>
                <p class="txt-format">
                    Komunikat o stanie:
                    <ul>
                        <li>informuje o pomyślnie wykonanej czynności lub jej wyniku;</li>
                        <li>powiadamia o oczekiwaniu na rezultat, postępie lub błędach;</li>
                        <li>nie zmienia kontekstu na stronie, czyli m.in. nie zmienia fokusu na inny obiekt.</li>
                    </ul>
                </p>
                <p class="txt-format">
                Komunikatem o stanie jest:
                    <ul>
                        <li>status wyniku wyszukiwania: „Znaleziono X elementów”;</li>
                        <li>powiadomienie o dodaniu produktu do koszyka;</li>
                        <li>informacja o poprawnym lub błędnym wysłaniu formularza.</li>
                    </ul>
                </p>
                <p class="txt-format">
                    Kiedy komunikat nie uzyska automatycznego fokusu, użytkownik nie musi zatrzymywać pracy, aby go wyłączyć.
                </p>
                <p class="txt-format">
                    <strong>WAŻNE</strong><br/>
                    Jeśli komunikat o stanie nie jest odpowiednio oznaczony, nie zostanie odczytany przez technologie asystujące.
                    Osoby, które nie widzą, nie będą wiedziały o istnieniu takiego komunikatu.
                </p>
                <p class="txt-format">
                    Wiadomość bez powiadomienia użytkownika:<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_3_noalert.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
                            &lt;div&gt;
                                Utworzono Opinię. Czekaj na zatwierdzenie przez administratora.
                            &lt;/div&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    Wiadomość z powiadomieniem użytkownika:<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_3_alert.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                    <pre>
                        <code>
                            &lt;div role="alert"&gt;
                                Utworzono Opinię. Czekaj na zatwierdzenie przez administratora.
                            &lt;/div&gt;
                        </code>
                    </pre>
                </p>
                <p class="txt-format">
                    Wiadomość nie uzyskuje fokusu:<br/>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('img/4_1_3_fokus.mp4') }}" type="video/mp4" />
                        Twoja przeglądarka nie wspiera elementów wideo.
                    </video>
                </p>
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}