{% block body %}
{# desktop/ mobile mod #}
    <a id="skip-link" href="#main">Przejdź do głównej zawartości</a>
    <header>
        <div id="user-actions">
            <a href="{{ url('home_index') }}">
                <img
                        id="logo"
                        src="{{ asset('img/logo_flat.png')}}"
                        alt="Strona główna serwisu."
                />
            </a>
            <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li id="admin_panel_desktop" class="button-style"><a href="{{ url('admin_index') }}">Panel administratora</a></li>
{#                    {% else %}#}
{#                        <li id="acc" class="button-style"><a href="{{ url('user_index') }}">Moje konto</a></li>#}
                    {% endif %}

                    <li id="logout" class="button-style"><a href="{{ url('app_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li id="register" class="button-style"><a href="{{ url('app_register') }}">Zarejestruj</a></li>

                    <li id="login" class="button-style"><a href="{{ url('app_login') }}">Zaloguj</a></li>
                {% endif %}
                <li><button aria-label="Otwórz menu" id="hamb" style="padding: 0.7em;" aria-expanded="false"><i class='fa fa-navicon'></i></button></li>
            </ul>
        </div>
        <nav aria-label="Main" id="desktop">
            <ul>
                <li class="button-style"><a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a></li>
                <li class="button-style"><a href="{{ url('tworca_index') }}">Strefa twórcy</a></li>
                <li class="button-style"><a href="{{ url('opinie_index') }}">Opinie</a></li>
                <li class="button-style"><a href="{{ url('projekt_info_index') }}">O serwisie</a></li>
            </ul>
        </nav>
        <div id="myNav" class="overlay" aria-hidden="true">
            <button aria-label="Zamknij menu" id="close-hamb"><i class='fa fa-close'></i></button>
            <nav id="mobile">
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li id="admin_panel_mobile" style="margin-bottom: 1em;"><a href="{{ url('admin_index') }}">Panel administratora</a></li>
                        {#                    {% else %}#}
                        {#                        <li id="acc" class="button-style"><a href="{{ url('user_index') }}">Moje konto</a></li>#}
                    {% endif %}
                    <li><a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a></li>
                    <li><a href="{{ url('tworca_index') }}">Strefa twórcy</a></li>
                    <li><a href="{{ url('opinie_index') }}">Opinie</a></li>
                    <li><a href="{{ url('projekt_info_index') }}">O serwisie</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li style="margin-top: 1em;"><a href="{{ url('app_logout') }}">Wyloguj</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <script>
        const hamb = document.getElementById('hamb');
        const closeHamb = document.getElementById('close-hamb');
        const nav = document.getElementById("myNav");


        hamb.addEventListener('click', () => {
            hamb.ariaExpanded = 'true';
            nav.style.width = "60%";
            nav.style.visibility = 'visible';
            nav.ariaExpanded = 'true';
            nav.ariaHidden = 'false';
        });
        closeHamb.addEventListener('click', () => {
            hamb.ariaExpanded = 'false';
            nav.style.width = "0%";
            nav.style.visibility = 'hidden';
            nav.ariaExpanded = 'false';
            nav.ariaHidden = 'true';
        });
    </script>
{% endblock %}