{% block body %}
{# desktop/ mobile mod #}
    <a id="skip-link" href="#main">Przejdź do głównej zawartości</a>
    <header>
        <div id="user-actions">
            <a href="{{ url('home_index') }}">
                <img
                        id="logo"
                        src="{{ asset('img/logo_flat.png')}}"
                        alt="Strona główna serwisu."
                />
            </a>
            <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li id="admin_panel" class="button-style"><a href="{{ url('admin_index') }}">Panel administratora</a></li>
                    {% else %}
                        <li id="acc" class="button-style"><a href="{{ url('user_index') }}">Moje konto</a></li>
                    {% endif %}

                    <li id="logout" class="button-style" style="box-shadow: 2px 2px 10px #296fa8;"><a href="{{ url('app_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li id="register" class="button-style"><a href="{{ url('app_register') }}">Zarejestruj</a></li>

                    <li id="login" class="button-style" style="box-shadow: 2px 2px 10px #296fa8;"><a href="{{ url('app_login') }}">Zaloguj</a></li>
                {% endif %}
                <li><button id="hamb"><i class='fa fa-navicon'></i></button></li>
            </ul>
        </div>
        <nav aria-label="Main" id="desktop">
            <ul>
                <li class="button-style"><a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a></li>
                <li class="button-style"><a href="{{ url('tworca_index') }}">Strefa twórcy</a></li>
                <li class="button-style"><a href="{{ url('opinie_index') }}">Opinie</a></li>
{#                <li class="button-style"><a href="{{ url('projekt_info_index') }}">Informacja o projekcie</a></li>#}
            </ul>
        </nav>
        <div id="myNav" class="overlay">
            <button id="close-hamb"><i class='fa fa-close'></i></button>
            <nav id="mobile">
                <ul>
                    <li><a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a></li>
                    <li><a href="{{ url('tworca_index') }}">Strefa twórcy</a></li>
                    <li><a href="{{ url('opinie_index') }}">Opinie</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li style="margin-top: 1em;"><a href="{{ url('app_logout') }}">Wyloguj</a></li>
                    {% endif %}
                    {#                <li class="button-style"><a href="{{ url('projekt_info_index') }}">Informacja o projekcie</a></li>#}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}
{# TODO: zmienić style login, register, bo są na odwrót #}
{% block javascripts %}
    <script>
        const hamb = document.getElementById('hamb');
        const closeHamb = document.getElementById('close-hamb');

        hamb.addEventListener('click', () => {
            document.getElementById("myNav").style.width = "45%";
        });
        closeHamb.addEventListener('click', () => {
            document.getElementById("myNav").style.width = "0%";
        });
    </script>
{% endblock %}