{% extends 'base.html.twig' %}

{% block body %}
    <a id="skip-link" href="#main">Przejdź do głównej zawartości</a>
{#    <header style="position: -webkit-sticky; position: sticky; top: 0;">#}
    <header>
        <div id="user-actions">
            <a href="{{ url('home_index') }}">
                <img
                        id="logo"
                        src="{{ asset('img/logo_flat.png')}}"
                        alt="Logo strony - strona dostępności z emblematem 6 łez w kolorach tęczy."
                />
            </a>
            <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li id="login" class="button-style"><a href="{{ url('admin_index') }}">Panel administratora</a></li>
                    {% else %}
                        <li id="login" class="button-style"><a href="{{ url('user_index') }}">Moje konto</a></li>
                    {% endif %}

                    <li id="register" class="button-style"><a href="{{ url('app_logout') }}">Wyloguj</a></li>
                {% else %}
                    {# {{ url('app_register') }} #}
                    <li id="login" class="button-style"><a href="{{ url('app_register') }}">Zarejestruj</a></li>

                    <li id="register" class="button-style"><a href="{{ url('app_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </div>
        <nav>
            <ul>
                <li class="button-style"><a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a></li>
                <li class="button-style"><a href="{{ url('tworca_index') }}">Strefa twórcy</a></li>
                <li class="button-style"><a href="{{ url('opinie_index') }}">Opinie</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}
{# TODO: zmienić style login, register, bo są na odwrót #}
