{% extends 'base.html.twig' %}

{% block title %}
{#    {{ 'title_home'|trans }}#}
    Strona główna
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page">
        <section id="target">
            <h1 class="header-margin-cut">Cel serwisu</h1>
            <div class="center-section-size">
                <p>
                    Chciałam, aby każdy użytkowników Internetu mógł zapoznać się z terminem dostępności <br/>i powiązanymi tematami. Założeniem było przestawienie Tobie informacji przy pomocy nie tylko tekstu, ale też grafik i przykładów.
                </p>
                <p>
                    Na pewno znajdziesz coś dla siebie. Nie ważne, czy tylko ciekawi Cię tematyka dostępności stron internetowych, czy jesteś twórcą takich stron.
                </p>
            </div>
        </section>
        <section id="beginning">
            <div class="content-left">
                <h2 class="header-margin-cut">Wstęp do dostępności</h2>
                <p>
                    Internet rozwija się bardzo szybko. Także serwisy zmieniają <br/>się z czasem – od strony wizualnej, jak i technicznej. Z&nbsp;usług <br/>nie korzystamy już tylko poprzez programy komputerowe, ale również z poziomu przeglądarki.
                </p>
                <p class="list-glue">
                    Dlatego tak ważne jest, aby tworzyć dostępne strony, przeznaczone dla różnych użytkowników. <br/>Serwis zaprojektowany w ten sposób, mogą używać osoby:
                </p>
                    <ul>
                        <li>niepełnosprawne,</li>
                        <li>starsze,</li>
                        <li><b>z udogodnień skorzystają także osoby pełnosprawne.</b></li>
                    </ul>
                <p>
                    <span class="data">
                        W samej Polsce żyje 3 mln osób z potwierdzoną niepełnosprawnością. W rzeczywistości <br/>jest ich więcej, nawet 7 mln.
                    </span>
                </p>
                <p>
                    Widzisz zatem, że projektowanie stron pod kątem dostępności pozwala na dotarcie do większej liczby odbiorców – także potencjalnych klientów.
                </p>
                <p class="full-width">
                    <b class="important-text">
                        Każdy może tworzyć strony, które sprawią, że Internet stanie się bardziej inkluzywnym miejscem.
                    </b>
                </p>
            </div>
            <img src="{{ asset('img/disabled_lesson.jpg') }}" class="image" alt="Mężczyzna i niewidząca dziewczynka siedzą przed laptopem."/>
        </section>
        <section id="how-to-use">
                <h2 class="header-margin-cut" style="margin-top: 0.5em;">Jak korzystać z serwisu</h2>
                <div class="btn-description">
                    <p class="content-left">
                        Jeśli chcesz przeczytać więcej o dostępności w Internecie, przejdź do strefy czytelnika. Znajdziesz tam informacje <br/>o dostępności stron, wytycznych WCAG czy typach niepełnosprawności, jakie mogą mieć osoby, które <br/>używają Internetu.
                    </p>
                    <a href="{{ url('czytelnik_index') }}" style="box-shadow: 2px 2px 10px #b0b0b0;">Przejdź do strefy czytelnika</a>
                </div>
                <div class="btn-description">
                    <p class="content-left">
                        Jesteś twórcą stron i chcesz dowiedzieć się, na czym polegają wytyczne WCAG 2.1? Dobrze trafiłeś – w strefie twórcy znajdziesz najważniejsze informacje i interaktywne przykłady.
                        Przy tworzeniu własnych stron możesz skorzystać z checklisty WCAG 2.1, która pomoże śledzić spełnione kryteria.
                    </p>
                    <a href="{{ url('tworca_index') }}" style="box-shadow: 2px 2px 10px #b0b0b0;">Przejdź do strefy twórcy</a>
                </div>
        </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
        {{ parent() }}
{% endblock %}
