{% extends 'base.html.twig' %}

{% block title %}
    Opinie
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page reposition" style="row-gap: 1.5em;">
            <h1 class="h1-reformat">Opinie o serwisie</h1>
            {% if pagination is defined and pagination.items|length %}
                <div>
                    {% for opinion in pagination.items %}
                        {% if opinion.is_accepted %}
                            <section id="opinions" class="opinion">
                                <span class="user-info">{{ opinion.author.username }}, {{ opinion.date|date('Y/m/d') }}</span>
                                <div class="message-style" style="max-width: 550px;">
                                    {{ opinion.message }}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'Brak opinii' }}</p>
                </div>
            {% endif %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form) }}
                    <div>{{ form_label(form.message) }}</div>
                    <div>{{ form_widget(form.message, { 'attr': {'rows' : '6', 'cols' : '60'} } ) }}</div>
                    <div>
                        <input type="submit" value="{{ 'Dodaj opinię' }}" class="submit-btn" />
                    </div>
                {{ form_end(form) }}
            {% endif %}
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}