{% extends 'base.html.twig' %}

{% block title %}
    Mapa serwisu
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page">
        <h2>Mapa serwisu</h2>
        <section class="font-styling">
            <ul style="all: unset;">
                <li>
                    Strona główna
                    <ul style="all: unset;">
                        <li>
                            <a href="{{ url('czytelnik_index') }}">Strefa czytelnika</a>
                            <ul>
                                <li>Dostępność stron internetowych</li>
                                <li>Regulacje prawne</li>
                                <li>Typy niepełnosprawności</li>
                                <li>Technologie asystujące</li>
                                <li>O WCAG</li>
                                <li>Co więcej na stronie</li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url('tworca_index') }}">Strefa twórcy</a>
                            <ul>
                                <li>
                                    Wytyczne WCAG 2.1
                                    <ul>
                                        <li>
                                            Postrzegalność
                                            <ul>
                                                <li>
                                                    <a href="{{ url('alt-txt_index') }}">1.1 Alternatywa tekstowa</a>
                                                    <ul>
                                                        <li>Kryterium sukcesu 1.1.1 Treść nietekstowa (Poziom A)</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="{{ url('multimedia_index') }}">1.2 Multimedia</a>
                                                    <ul>
                                                        <li>Kryterium sukcesu 1.1.1 Treść nietekstowa (Poziom A)</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="{{ url('adapt_index') }}">1.3 Możliwość adaptacji</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('distinguish_index') }}">1.4 Rozróżnialność</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Funkcjonalność
                                            <ul>
                                                <li>
                                                    <a href="{{ url('keyboard_index') }}">2.1 Dostępność z klawiatury</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('time_index') }}">2.2 Wystarczający czas</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('epilepsy_index') }}">2.3 Ataki padaczki</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('nav_index') }}">2.4 Możliwość nawigacji</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('inputs_index') }}">2.5 Metody obsługi</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Zrozumiałość
                                            <ul>
                                                <li>
                                                    <a href="{{ url('read_index') }}">3.1 Możliwość odczytania</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('predict_index') }}">3.2 Przewidywalność</a>
                                                </li>
                                                <li>
                                                    <a href="{{ url('help_index') }}">3.3 Pomoc przy wprowadzaniu informacji</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Solidność
                                            <ul>
                                                <li>
                                                    <a href="{{ url('compatible_index') }}">4.1 Kompatybilność</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>Wstęp do atrybutów ARIA</li>
                                <li>Checklista wytycznych WCAG 2.1</li>
                                <li>Przydatne narzędzia</li>
                            </ul>
                        </li>
                        <li><a href="{{ url('opinie_index') }}">Opinie</a></li>
                        <li><a href="{{ url('projekt_info_index') }}">Informacja o projekcie</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}